<link href="../../js/signin.css" rel="stylesheet" type="text/css">
<div>
<fieldset class="fieldset">
                <div class="hc_f_t_i2 hc_f_email">
                    <label for="hc_f_EmailLogin">
                        <span>Email</span>
                        
<input autocapitalize="off" autocomplete="off" data-val="true" data-val-email="Please enter a valid email address" data-val-required="Please enter an email address" id="hc_f_EmailLogin" name="hc_f.Email" placeholder="Your email address" type="email" value="">

                    </label>
                </div>
                <span class="hc_f_t_err4_valid" data-valmsg-for="hc_f.Email" data-valmsg-replace="true"></span>
                <div class="hc_f_t_i2 hc_f_password">
                    <label for="hc_f_PasswordLogin">
                        <span>Password</span>
                        
<input autocapitalize="off" autocomplete="off" data-val="true" data-val-required="Please enter a password" id="hc_f_PasswordLogin" name="hc_f.Password" placeholder="Your password" type="password" value="">

                    </label>
                </div>
                <span class="hc_f_t_err4_valid" data-valmsg-for="hc_f.Password" data-valmsg-replace="true"></span>
                <div class="hc_f_t_cb hc_f_remember">
                    <label for="hc_f_PersistentLogin">
                        <span>Remember me on this computer</span>
                        <input checked="checked" data-val="true" data-val-required="The Persistent field is required." id="hc_f_PersistentLogin" name="hc_f.Persistent" type="checkbox" value="true"><input name="hc_f.Persistent" type="hidden" value="false">
                    </label>
                </div>
                <div class="hc_f_t_btn hc_f_submit">
                    <a onclick="HC.Common.submitClosest(this)" href="javascript:void(0);" class="hc_f_btn_v10">Sign In<span></span></a>
                </div>

                <p class="hc_login_forgot">Forgot your password? <a href="/Account/ForgotPassword">Reset it here</a>.</p>
            </fieldset>
</div>
<div>
	<img src="../../images/image.PNG" width="456" height="27" alt=""/> 
</div>
