<div id="tabs">
    <ul>
        <li><a href="#tabs-1">Search</a></li>
        <li><a href="#tabs-2">Notifications</a></li>
    </ul>
    <div id="tabs-1">
        <div class="formBlock">
            <p class="headerText" id="placeText">Where?</p>
            <input type="search" name="place" id="place" placeholder="e.g. city, region, district or specific hotel" results="0">
            <br>
            <table class="table">
                <tr>
                    <td class="headerText" id="checkinText">Check-in</td>
                    <td class="headerText" id="checkoutText">Check-out</td>
                </tr>
                <tr>
                    <td><input type="text" id="checkin" name="checkin" placeholder="yyyy/mm/dd"></td>
                    <td><input type="text" id="checkout" name="checkout" placeholder="yyyy/mm/dd"></td>
                </tr>
            </table>
            <p class="headerText" id="guestsText">Guests</p>
            <div class="room">
                <select name="rooms" id="room">
                    <option value="Rooms=1&adults_1=1">1 adult</option>
                    <option value="Rooms=1&adults_1=2" selected="selected">2 adults in 1 room</option>
                    <option value="Rooms=1&adults_1=3">3 adults in 1 room</option>
                    <option value="Rooms=1&adults_1=4">4 adults in 1 room</option>
                    <option value="Rooms=1&adults_2=2">2 adults in 2 rooms</option>
                </select>

                <button class="button" id="searchButton">Search</button>
                <div class="signInDiv">
                    <a href="#" class="signInText" id="signIn">Sign In</a>
                </div>
            </div>

            <div id="autocompleteResults"></div>
        </div>
        <img src="../../images/image.PNG" alt=""/>
    </div>
    <div id="tabs-2">
        <div id="notifications"></div>
    </div>
</div>