body {
    min-width: 500px; /* your desired width */
    max-width: 100%;
    position: relative;
    vertical-align:middle;
}

/* --- HC items --- */
.hc_i h1,
.hc_i_h2,
.hc_i h3,
.hc_i dl,
.hc_i dt,
.hc_i dd {
  margin: 6px;
  padding: 0;
}
.hc_i dt,
.hc_i dd {
  display: none;
}
.hc_rtl .hc_i dt,
.hc_rtl .hc_i dd {
  direction: rtl;
}
.hc_i {
  display: inline-block;
  position: relative;
  width: 220px;
}
.hc_i h2 span.hc_i_rating,
.hc_i h3 span.hc_i_rating {
  width: 70px;
  white-space: nowrap;
  padding-top: 0.2em;
  display: none;
}
.hc_i h2 span.hc_i_rating img,
.hc_i h3 span.hc_i_rating img {
  margin-right: 1px;
}
.hc_rtl .hc_i h2 span.hc_i_rating img,
.hc_rtl .hc_i h3 span.hc_i_rating img {
  margin-right: 0px;
  margin-left: 1px;
}
.hc_i h2 a.hc_i_trans,
.hc_i h3 a.hc_i_trans {
  display: block;
  font-size: 0.75em;
  padding-top: 5px;
  font-weight: normal;
}
.hc_i a.hc_i_photo {
  display: block;
  overflow: hidden;
  position: relative;
  border: 5px solid #ffffff;
  background: #ffffff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  width: 200px;
  height: 88px;
}
.hc_bp_mobile.hc_page_landing .hc_i a.hc_i_photo,
.hc_bp_tiny.hc_page_landing .hc_i a.hc_i_photo,
.hc_bp_sm.hc_page_landing .hc_i a.hc_i_photo,
.hc_bp_med.hc_page_landing .hc_i a.hc_i_photo {
  width: 90px;
  height: 90px;
}
.hc_i a.hc_i_photo:hover img {
  border-color: #00aef0;
}
.hc_i a.hc_i_photo:active img {
  border-color: #2c4162;
}
.hc_i a.hc_i_photo img {
  clip: rect(0 134px 134px 0);
  position: absolute;
  top: 1px;
  left: 1px;
}
.hc_bp_mobile.hc_page_landing .hc_i a.hc_i_photo img,
.hc_bp_tiny.hc_page_landing .hc_i a.hc_i_photo img,
.hc_bp_sm.hc_page_landing .hc_i a.hc_i_photo img,
.hc_bp_med.hc_page_landing .hc_i a.hc_i_photo img {
  clip: rect(0 222px 88px 134px);
  left: -133px;
}
.hc_i .hc_i_remove a {
  text-decoration: none;
}
.hc_i .hc_i_remove .hc_icon {
  display: block;
  width: 13px;
  height: 13px;
  color: #cfd8dc;
}
.hc_i a.hc_i_remove:hover .hc_icon,
.hc_i .hc_i_remove a:hover .hc_icon {
  color: #d40000;
}
.hc_i dd.hc_i_rating {
  *width: 70px;
}
.hc_i dd.hc_i_rating img {
  margin-right: 1px;
}
.hc_i dd.hc_i_addr .hc_icon {
  position: absolute;
  top: 1px;
  left: 0;
  width: 16px;
  height: 11px;
  background: url([BaseDomain]/Images/hc_flags_8bit.png?[cdnkey]) no-repeat 0 0;
  border: 2px solid #92defb;
  overflow: hidden;
}
.hc_rtl .hc_i dd.hc_i_addr .hc_icon {
  left: auto;
  right: 0;
  direction: ltr!important;
}
.hc_i dd.hc_i_price {
  font-size: 2.5em;
}
.hc_i dd.hc_i_price a {
  text-decoration: none;
}
.hc_page_sr .hc_i dd.hc_i_price a,
.hc_page_list_sr .hc_i dd.hc_i_price a {
  color: #39b54a;
}
.hc_i dd.hc_i_usrRating {
  font-size: 1.5em;
}
.hc_i dd.hc_i_usrRating a {
  text-decoration: none;
}
.hc_i dd.hc_i_map a.map-marker-icon {
  display: none;
  overflow: hidden;
  background: #940000;
  color: #fff;
  width: 18px;
  height: 17px;
  line-height: 15px;
  *line-height: 14px;
  margin: 0 5px -5px 0;
  padding: 1px 0 0;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px 0 #263238;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.hc_rtl .hc_i dd.hc_i_map a.map-marker-icon {
  margin-right: 0;
  margin-left: 5px;
}
.hc_i dd.hc_i_map a.hc_map_active {
  background: #2c4162;
  border: 2px solid #00aef0;
}
.hc_i dd.hc_i_map a.map-marker-icon:hover {
  cursor: pointer;
  text-decoration: none;
}
.hc_i dd.hc_i_map a.map-marker-icon.selected {
  background-position: -32px -64px;
}
.hc_i dd.hc_i_dist {
  font-size: 0.95em;
  color: #90a4ae;
}
.hc_i dd.hc_i_reviews {
  color: #90a4ae;
}
.hc_i dd.hc_i_reviews span {
  font-weight: bold;
}
.hc_i dd.hc_i_sentiments {
  font-size: 1.4em;
  font-style: italic;
  width: 100%;
}
.hc_bp_mobile .hc_i dd.hc_i_sentiments,
.hc_bp_tiny .hc_i dd.hc_i_sentiments,
.hc_bp_sm .hc_i dd.hc_i_sentiments,
.hc_bp_med .hc_i dd.hc_i_sentiments {
  font-size: 1.2em;
}
dd.hc_i_description ul {
  margin: 10px 0 0;
  list-style: none;
  padding-left: 0;
  padding-bottom: 0;
}
dd.hc_i_description ul li {
  margin: 0;
  padding-left: 0;
}
.hc_i dd.hc_i_sentiments ul {
  display: block;
  width: 100%;
  text-align: center;
}
.hc_i dd.hc_i_sentiments ul,
.hc_i dd.hc_i_sentiments ul li {
  margin: 0;
  padding: 0;
  list-style: none;
  background: none;
}
.hc_i dd.hc_i_sentiments ul li {
  padding: 0 10px 0 0;
  display: inline-block;
  *white-space: nowrap;
  *display: inline;
  zoom: 1;
}
.hc_rtl .hc_i dd.hc_i_sentiments ul li {
  padding-left: 10px;
  padding-right: 0;
}
.hc_i dd.hc_i_sentiments a {
  text-decoration: none;
  color: #39b54a;
}
.hc_i dd.hc_i_sentiments a:hover {
  text-decoration: underline;
}
.hc_i dd.hc_i_themes,
.hc_i dd.hc_i_filters {
  clear: left;
  padding-top: 5px;
}
.hc_rtl .hc_i dd.hc_i_themes,
.hc_rtl .hc_i dd.hc_i_filters {
  clear: right;
}
.hc_i dd.hc_i_themes ul,
.hc_i dd.hc_i_filters ul {
  display: inline-block;
}
.hc_i dd.hc_i_themes ul,
.hc_i dd.hc_i_filters ul {
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.hc_i dd.hc_i_themes ul li,
.hc_i dd.hc_i_filters ul li {
  position: relative;
  display: block;
  float: left;
  list-style: none;
  padding: 2px 5px 3px;
  margin: 0 5px 5px 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #90a4ae;
  color: #ffffff;
  font-size: 0.95em;
  font-weight: bold;
}
.hc_rtl .hc_i dd.hc_i_themes ul li,
.hc_rtl .hc_i dd.hc_i_filters ul li {
  margin-right: 0;
  margin-left: 5px;
  float: right;
}
.hc_i dd.hc_i_filters ul li {
  background: #eceff1;
  color: #00aef0;
}
.hc_i dd.hc_i_booking {
  color: #39b54a;
  font-size: 0.95em;
  font-weight: bold;
}
.hc_i dd.hc_i_booking span {
  color: #90a4ae;
  font-weight: normal;
}
.hc_i dd.hc_i_viewers {
  font-size: 0.95em;
}
.hc_i dd.hc_i_photos {
  height: 47px;
  overflow: hidden;
}
.hc_i dd.hc_i_photos ul {
  margin: 0px;
  padding: 0px;
}
.hc_i dd.hc_i_photos ul li {
  position: relative;
  display: block;
  float: left;
  overflow: hidden;
  width: 40px;
  height: 40px;
  border: 1px solid transparent;
  margin: 0 5px 5px 0;
  padding: 0;
  list-style: none;
}
.hc_rtl .hc_i dd.hc_i_photos ul li {
  float: right;
  margin-left: 5px;
  margin-right: 0;
}
.hc_i dd.hc_i_photos ul li a {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  overflow: hidden;
}
.hc_i dd.hc_i_photos ul li a img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
}
.hc_i dd.hc_i_photos ul li a:hover img {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -khtml-opacity: 1;
  -moz-opacity: 1;
}
.hc_i dd.hc_i_photos ul li.hc_i_photos_0 img {
  left: -222px;
}
.hc_i dd.hc_i_photos ul li.hc_i_photos_1 img {
  left: -262px;
}
.hc_i dd.hc_i_photos ul li.hc_i_photos_2 img {
  left: -302px;
}
.hc_i dd.hc_i_photos ul li.hc_i_photos_3 img {
  left: -342px;
}
.hc_i dd.hc_i_photos ul li.hc_i_photos_4 img {
  left: -382px;
}
.hc_i dd.hc_i_photos ul li.hc_i_photos_5 img {
  left: -422px;
}
.hc_i dd.hc_i_photos ul li.hc_i_photos_6 img {
  left: -462px;
}
.hc_i dd.hc_i_photos ul li.hc_i_photos_7 img {
  left: -502px;
}
.hc_i dd.hc_i_photos ul li.hc_i_photos_8 img {
  left: -542px;
}
.hc_i dd.hc_i_photos ul li.hc_i_photos_9 img {
  left: -582px;
}
.hc_i dd.hc_i_photos ul li.hc_i_photos_10 img {
  left: -622px;
}
.hc_i dd.hc_i_photos ul li.hc_i_photos_11 img {
  left: -662px;
}
.hc_i dd.hc_i_photos ul li.hc_i_photos_12 img {
  left: -702px;
}
.hc_i dd.hc_i_photos ul li.hc_i_photos_13 img {
  left: -742px;
}
.hc_i dd.hc_i_photos ul li.hc_i_photos_14 img {
  left: -782px;
}
.hc_i dd.hc_i_photos ul li.hc_i_photos_15 img {
  left: -822px;
}
.hc_i dd.hc_i_photos ul li.hc_i_photos_16 img {
  left: -862px;
}
.hc_i dd.hc_i_wasPrice {
  font-style: normal;
  text-decoration: line-through;
  color: #d40000;
}
.hc_i dd.hc_i_wasPrice span.hc_pr_reduced {
  color: #39b54a;
  text-decoration: none;
  display: none;
}
.hc_page_sr .hc_i dd.hc_i_wasPrice span.hc_pr_reduced,
.hc_page_list_sr .hc_i dd.hc_i_wasPrice span.hc_pr_reduced {
  display: none;
}
.hc_i dd.hc_i_tax {
  font-size: 0.95em;
  color: #90a4ae;
}
.hc_i .hc_i_provider {
  display: none;
}
.hc_rtl .hc_i .hc_i_provider {
  direction: rtl;
}
/* layouts */
/* item layout version 1 */
.hc_i_layout_v1 dd.hc_i_booking,
.hc_i_layout_v1 dd.hc_i_addr,
.hc_i_layout_v1 dd.hc_i_remove {
  display: block;
}
.hc_i_layout_v1 dd.hc_i_photos {
  display: block;
  *display: inline-block;
}
.hc_i_layout_v1 .hc_i_wrapper {
  *padding: 0 10px;
}
.hc_i_layout_v1 .hc_i {
  background: url([BaseDomain]/Images/hc_bg_divider.gif?[cdnkey]) repeat-x left bottom;
  padding-bottom: 10px;
  margin-bottom: 10px;
  position: relative;
  width: 100%;
  min-height: 151px;
  height: auto!important;
  height: 151px;
}
.hc_bp_mobile.hc_page_landing .hc_i_layout_v1 .hc_i,
.hc_bp_tiny.hc_page_landing .hc_i_layout_v1 .hc_i,
.hc_bp_sm.hc_page_landing .hc_i_layout_v1 .hc_i,
.hc_bp_med.hc_page_landing .hc_i_layout_v1 .hc_i {
  min-height: 105px;
  height: auto!important;
  height: 105px;
}
.hc_i_layout_v1 .hc_i h3 {
  padding: 0 12px 7px 156px;
}
.hc_rtl .hc_i_layout_v1 .hc_i h3 {
  padding: 0 156px 7px 12px;
}
.hc_bp_mobile.hc_page_landing .hc_i_layout_v1 .hc_i h3,
.hc_bp_tiny.hc_page_landing .hc_i_layout_v1 .hc_i h3,
.hc_bp_sm.hc_page_landing .hc_i_layout_v1 .hc_i h3,
.hc_bp_med.hc_page_landing .hc_i_layout_v1 .hc_i h3 {
  padding: 0 12px 7px 110px;
}
.hc_rtl.hc_bp_mobile.hc_page_landing .hc_i_layout_v1 .hc_i h3,
.hc_rtl.hc_bp_tiny.hc_page_landing .hc_i_layout_v1 .hc_i h3,
.hc_rtl.hc_bp_sm.hc_page_landing .hc_i_layout_v1 .hc_i h3,
.hc_rtl.hc_bp_med.hc_page_landing .hc_i_layout_v1 .hc_i h3 {
  padding-right: 110px;
  padding-left: 12px;
}
.hc_i_layout_v1 .hc_i h3 span.hc_i_rating {
  display: inline;
}
.hc_i_layout_v1 .hc_i a.hc_i_photo {
  border-color: #cfd8dc;
  position: absolute;
  top: 0;
  left: 0;
}
.hc_rtl .hc_i_layout_v1 .hc_i a.hc_i_photo {
  left: auto;
  right: 0;
}
.hc_i_layout_v1 .hc_i a.hc_i_photo:hover {
  border-color: #00aef0;
}
.hc_i_layout_v1 .hc_i a.hc_i_photo:active {
  border-color: #2c4162;
}
.hc_i_layout_v1 .hc_i dl {
  padding: 0 0 0 156px;
}
.hc_rtl .hc_i_layout_v1 .hc_i dl {
  padding-right: 156px;
  padding-left: 0;
}
.hc_bp_mobile.hc_page_landing .hc_i_layout_v1 .hc_i dl,
.hc_bp_tiny.hc_page_landing .hc_i_layout_v1 .hc_i dl,
.hc_bp_sm.hc_page_landing .hc_i_layout_v1 .hc_i dl,
.hc_bp_med.hc_page_landing .hc_i_layout_v1 .hc_i dl {
  padding-left: 110px;
}
.hc_rtl.hc_bp_mobile.hc_page_landing .hc_i_layout_v1 .hc_i dl,
.hc_rtl.hc_bp_tiny.hc_page_landing .hc_i_layout_v1 .hc_i dl,
.hc_rtl.hc_bp_sm.hc_page_landing .hc_i_layout_v1 .hc_i dl,
.hc_rtl.hc_bp_med.hc_page_landing .hc_i_layout_v1 .hc_i dl {
  padding-left: 0;
  padding-right: 110px;
}
.hc_i_layout_v1 .hc_i dd.hc_i_remove {
  position: absolute;
  top: 2px;
  right: 0;
}
.hc_rtl .hc_i_layout_v1 .hc_i dd.hc_i_remove {
  right: auto;
  left: 0;
}
.hc_i_layout_v1 .hc_i dd.hc_i_rating {
  white-space: nowrap;
  padding: 2px 10px 0 0;
}
.hc_rtl .hc_i_layout_v1 .hc_i dd.hc_i_rating {
  padding-left: 10px;
  padding-right: 0;
}
.hc_i_layout_v1 .hc_i dd.hc_i_addr {
  padding: 0 0 5px;
}
.hc_i_layout_v1 .hc_i dd.hc_i_usrRating {
  display: inline;
  text-align: left;
  font-weight: normal;
  color: #00aef0;
  font-size: 1em;
}
.hc_rtl .hc_i_layout_v1 .hc_i dd.hc_i_usrRating {
  text-align: right;
}
.hc_i_layout_v1 .hc_i dd.hc_i_reviews {
  display: inline;
  font-size: 0.85em;
  color: #90a4ae;
}
.hc_i_layout_v1 .hc_i dd.hc_i_booking {
  display: block;
  padding: 5px 10px 5px 0;
}
.hc_rtl .hc_i_layout_v1 .hc_i dd.hc_i_booking {
  padding: 5px 0 5px 10px;
  text-align: right;
}
.hc_i_layout_v1 .hc_i dd.hc_i_photos {
  padding-top: 5px;
  *position: relative;
}
/* end: item layout version 1 */
/* item layout version 2 */
.hc_i_layout_v2 dd.hc_i_rating,
.hc_i_layout_v2 dd.hc_i_remove {
  display: block;
}
.hc_i_layout_v2 .hc_i_wrapper {
  *padding: 0px 10px;
}
.hc_i_layout_v2 .hc_i {
  background: url([BaseDomain]/Images/hc_bg_divider.gif?[cdnkey]) repeat-x left bottom;
  padding-bottom: 10px;
  margin-bottom: 10px;
  position: relative;
  width: 100%;
  min-height: 105px;
  height: auto!important;
  height: 105px;
}
.hc_i_layout_v2 .hc_i h3 {
  font-size: 1em;
  padding: 0 12px 7px 110px;
}
.hc_rtl .hc_i_layout_v2 .hc_i h3 {
  padding-right: 110px;
  padding-left: 12px;
}
.hc_i_layout_v2 .hc_i a.hc_i_photo {
  border-color: #eceff1;
  position: absolute;
  top: 0;
  left: 0;
}
.hc_rtl .hc_i_layout_v2 .hc_i a.hc_i_photo {
  left: auto;
  right: 0;
}
.hc_i_layout_v2 .hc_i a.hc_i_photo {
  width: 90px;
  height: 90px;
}
.hc_i_layout_v2 .hc_i a.hc_i_photo img {
  clip: rect(0 88px 88px 0);
}
.hc_i_layout_v2 .hc_i a.hc_i_photo.hc_noImg img {
  clip: rect(0 222px 88px 134px);
  left: -133px;
}
.hc_i_layout_v2 .hc_i .hc_i_remove {
  position: absolute;
  top: 2px;
  right: 0;
}
.hc_rtl .hc_i_layout_v2 .hc_i .hc_i_remove {
  right: auto;
  left: 0;
}
.hc_i_layout_v2 .hc_i dl {
  padding: 0 0 0 110px;
}
.hc_rtl .hc_i_layout_v2 .hc_i dl {
  padding-left: 0;
  padding-right: 110px;
}
.hc_i_layout_v2 .hc_i dd.hc_i_rating {
  white-space: nowrap;
  padding: 2px 10px 0 0;
}
.hc_rtl .hc_i_layout_v2 .hc_i dd.hc_i_rating {
  padding: 2px 0 0 10px;
}
.hc_i_layout_v2 .hc_i dd.hc_i_addr {
  padding: 0 0 5px;
}
.hc_i_layout_v2 .hc_i dd.hc_i_booking {
  display: block;
  padding: 5px 10px 5px 0;
}
.hc_rtl .hc_i_layout_v2 .hc_i dd.hc_i_booking {
  padding: 5px 0 5px 10px;
  text-align: right;
}
.hc_i_layout_v2 .hc_i dd.hc_i_booking span {
  display: block;
}
.hc_i_layout_v2 .hc_i dd.hc_i_photos {
  padding-top: 5px;
  *position: relative;
}
/* end: item layout version 2 */
/* item layout version 4 */
.hc_i_layout_v4 .hc_i {
  display: inline-block;
}
.hc_i_layout_v4 .hc_i {
  display: block;
  position: relative;
  padding-left: 156px;
  min-height: 156px;
  height: auto!important;
  height: 156px;
  padding-bottom: 5px;
}
.hc_rtl .hc_i_layout_v4 .hc_i {
  padding-left: 0;
  padding-right: 156px;
}
.hc_bp_mobile .hc_i_layout_v4 .hc_i,
.hc_bp_tiny .hc_i_layout_v4 .hc_i,
.hc_bp_sm .hc_i_layout_v4 .hc_i,
.hc_bp_med .hc_i_layout_v4 .hc_i {
  padding-left: 110px;
  padding-right: 0;
  min-height: 110px;
  height: auto!important;
  height: 110px;
}
.hc_rtl.hc_bp_mobile .hc_i_layout_v4 .hc_i,
.hc_rtl.hc_bp_tiny .hc_i_layout_v4 .hc_i,
.hc_rtl.hc_bp_sm .hc_i_layout_v4 .hc_i,
.hc_rtl.hc_bp_med .hc_i_layout_v4 .hc_i {
  padding-right: 110px;
  padding-left: 0px;
}
.hc_i_layout_v4 .hc_i h3 {
  border-bottom: 0px;
  margin-bottom: 0px;
  padding: 0px 110px 5px 0px;
  font-size: 1.25em;
}
.hc_rtl .hc_i_layout_v4 .hc_i h3 {
  padding-left: 110px;
  padding-right: 0;
}
.hc_bp_mobile .hc_i_layout_v4 .hc_i h3,
.hc_bp_tiny .hc_i_layout_v4 .hc_i h3,
.hc_bp_sm .hc_i_layout_v4 .hc_i h3,
.hc_bp_med .hc_i_layout_v4 .hc_i h3 {
  padding-right: 0;
  padding-left: 0;
}
.hc_i_layout_v4 .hc_i h3 span.hc_i_rating {
  display: inline;
}
.hc_i_layout_v4 .hc_i dd.hc_i_usrRating {
  display: block;
  text-align: right;
  font-weight: normal;
  color: #00aef0;
  font-size: 1em;
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
}
.hc_rtl .hc_i_layout_v4 .hc_i dd.hc_i_usrRating {
  text-align: left;
  right: auto;
  left: 0;
}
.hc_bp_mobile .hc_i_layout_v4 .hc_i dd.hc_i_usrRating,
.hc_bp_tiny .hc_i_layout_v4 .hc_i dd.hc_i_usrRating,
.hc_bp_sm .hc_i_layout_v4 .hc_i dd.hc_i_usrRating,
.hc_bp_med .hc_i_layout_v4 .hc_i dd.hc_i_usrRating {
  text-align: left;
  position: static;
  top: auto;
  right: auto;
  width: auto;
  clear: both;
  padding-bottom: 5px;
}
.hc_rtl.hc_bp_mobile .hc_i_layout_v4 .hc_i dd.hc_i_usrRating,
.hc_rtl.hc_bp_tiny .hc_i_layout_v4 .hc_i dd.hc_i_usrRating,
.hc_rtl.hc_bp_sm .hc_i_layout_v4 .hc_i dd.hc_i_usrRating,
.hc_rtl.hc_bp_med .hc_i_layout_v4 .hc_i dd.hc_i_usrRating {
  text-align: right;
  left: auto;
}
.hc_i_layout_v4 .hc_i dd.hc_i_booking {
  display: block;
  clear: both;
}
.hc_bp_mobile .hc_i_layout_v4 .hc_i dd.hc_i_booking,
.hc_bp_tiny .hc_i_layout_v4 .hc_i dd.hc_i_booking,
.hc_bp_sm .hc_i_layout_v4 .hc_i dd.hc_i_booking,
.hc_bp_med .hc_i_layout_v4 .hc_i dd.hc_i_booking {
  padding-bottom: 5px;
}
.hc_i_layout_v4 .hc_i a.hc_i_photo {
  border-color: #cfd8dc;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}
.hc_rtl .hc_i_layout_v4 .hc_i a.hc_i_photo {
  left: auto;
  right: 0;
}
.hc_i_layout_v4 .hc_i a.hc_i_photo:hover {
  border-color: #00aef0;
}
.hc_i_layout_v4 .hc_i dl {
  padding-right: 114px;
}
.hc_rtl .hc_i_layout_v4 .hc_i dl {
  direction: rtl;
  padding-right: 0px;
  padding-left: 114px;
}
.hc_lang_no .hc_i_layout_v4 .hc_i dl {
  padding-right: 124px;
}
.hc_lang_ar .hc_i_layout_v4 .hc_i dl {
  padding-left: 124px;
}
.hc_lang_ro .hc_i_layout_v4 .hc_i dl {
  padding-right: 144px;
}
.hc_lang_gr .hc_i_layout_v4 .hc_i dl {
  padding-right: 174px;
}
.hc_bp_mobile .hc_i_layout_v4 .hc_i dl,
.hc_bp_tiny .hc_i_layout_v4 .hc_i dl,
.hc_bp_sm .hc_i_layout_v4 .hc_i dl,
.hc_bp_med .hc_i_layout_v4 .hc_i dl {
  padding-right: 0!important;
}
.hc_rtl .hc_bp_mobile .hc_i_layout_v4 .hc_i dl,
.hc_rtl .hc_bp_tiny .hc_i_layout_v4 .hc_i dl,
.hc_rtl .hc_bp_sm .hc_i_layout_v4 .hc_i dl,
.hc_rtl .hc_bp_med .hc_i_layout_v4 .hc_i dl {
  padding-left: 0!important;
}
.hc_i_layout_v4 .hc_i dd.hc_i_addr,
.hc_i_layout_v4 .hc_i dd.hc_i_themes,
.hc_i_layout_v4 .hc_i dd.hc_i_price,
.hc_i_layout_v4 .hc_i dd.hc_i_photos,
.hc_i_layout_v4 .hc_i dd.hc_i_wasPrice {
  display: block;
}
.hc_i_layout_v4 .hc_i dd.hc_i_addr {
  clear: left;
  float: left;
  *float: none;
  padding-right: 10px;
  padding-bottom: 5px;
}
.hc_rtl .hc_i_layout_v4 .hc_i dd.hc_i_addr {
  clear: right;
  float: right;
  *float: none;
  padding-right: 0;
  padding-left: 10px;
}
.hc_i_layout_v4 .hc_i dd.hc_i_wasPrice {
  position: absolute;
  bottom: 68px;
  right: 5px;
  width: 90px;
  text-align: center;
  font-style: normal;
  font-size: 1.25em;
  color: #d40000;
}
.hc_rtl .hc_i_layout_v4 .hc_i dd.hc_i_wasPrice {
  right: auto;
  left: 5px;
}
.hc_bp_mobile .hc_i_layout_v4 .hc_i dd.hc_i_wasPrice,
.hc_bp_tiny .hc_i_layout_v4 .hc_i dd.hc_i_wasPrice,
.hc_bp_sm .hc_i_layout_v4 .hc_i dd.hc_i_wasPrice,
.hc_bp_med .hc_i_layout_v4 .hc_i dd.hc_i_wasPrice {
  position: relative;
  left: auto;
  right: auto;
  top: auto;
  bottom: auto;
  width: 106px;
  clear: left;
}
.hc_rtl.hc_bp_mobile .hc_i_layout_v4 .hc_i dd.hc_i_wasPrice,
.hc_rtl.hc_bp_tiny .hc_i_layout_v4 .hc_i dd.hc_i_wasPrice,
.hc_rtl.hc_bp_sm .hc_i_layout_v4 .hc_i dd.hc_i_wasPrice,
.hc_rtl.hc_bp_med .hc_i_layout_v4 .hc_i dd.hc_i_wasPrice {
  clear: right;
}
.hc_lang_sl .hc_i_layout_v4 .hc_i dd.hc_i_wasPrice {
  bottom: 84px;
}
.hc_i_layout_v4 .hc_i dd.hc_i_wasPrice span.hc_pr_reduced {
  display: none;
}
.hc_i_layout_v4 .hc_i dd.hc_i_price {
  font-size: 1em;
  border: 2px solid #92defb;
  padding: 5px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  text-align: center;
  margin-bottom: 10px;
  width: 90px;
  position: absolute;
  bottom: 5px;
  right: 0;
  z-index: 3;
}
.hc_rtl .hc_i_layout_v4 .hc_i dd.hc_i_price {
  right: auto;
  left: 0;
}
.hc_lang_no .hc_i_layout_v4 .hc_i dd.hc_i_price,
.hc_lang_ar .hc_i_layout_v4 .hc_i dd.hc_i_price {
  width: 100px;
}
.hc_lang_ro .hc_i_layout_v4 .hc_i dd.hc_i_price {
  width: 120px;
}
.hc_lang_gr .hc_i_layout_v4 .hc_i dd.hc_i_price {
  width: 150px;
}
.hc_bp_mobile .hc_i_layout_v4 .hc_i dd.hc_i_price,
.hc_bp_tiny .hc_i_layout_v4 .hc_i dd.hc_i_price,
.hc_bp_sm .hc_i_layout_v4 .hc_i dd.hc_i_price,
.hc_bp_med .hc_i_layout_v4 .hc_i dd.hc_i_price {
  position: relative;
  bottom: auto;
  right: auto;
  clear: left;
}
.hc_rtl.hc_bp_mobile .hc_i_layout_v4 .hc_i dd.hc_i_price,
.hc_rtl.hc_bp_tiny .hc_i_layout_v4 .hc_i dd.hc_i_price,
.hc_rtl.hc_bp_sm .hc_i_layout_v4 .hc_i dd.hc_i_price,
.hc_rtl.hc_bp_med .hc_i_layout_v4 .hc_i dd.hc_i_price {
  left: auto!important;
  clear: right;
}
.hc_i_layout_v4 .hc_i dd.hc_i_price:hover {
  border-color: #00aef0;
  cursor: pointer;
}
.hc_i_layout_v4 .hc_i dd.hc_i_price .hc_pr_from {
  white-space: nowrap;
  display: inline-block;
  padding: 0 0 2px;
  float: none;
}
.hc_lang_et .hc_i_layout_v4 .hc_i dd.hc_i_price .hc_pr_from {
  font-size: 0.9em;
}
.hc_lang_bg .hc_i_layout_v4 .hc_i dd.hc_i_price .hc_pr_from,
.hc_lang_lt .hc_i_layout_v4 .hc_i dd.hc_i_price .hc_pr_from,
.hc_lang_lv .hc_i_layout_v4 .hc_i dd.hc_i_price .hc_pr_from,
.hc_lang_sl .hc_i_layout_v4 .hc_i dd.hc_i_price .hc_pr_from,
.hc_lang_uk .hc_i_layout_v4 .hc_i dd.hc_i_price .hc_pr_from {
  white-space: normal;
}
.hc_lang_el .hc_i_layout_v4 .hc_i dd.hc_i_price .hc_pr_from {
  white-space: normal;
}
.hc_i_layout_v4 .hc_i dd.hc_i_price a {
  display: block;
  font-size: 1.45em;
  line-height: 1em;
  font-weight: bold;
}
.hc_i_layout_v4 .hc_i dd.hc_i_price:hover a {
  color: #00aef0;
  text-decoration: underline;
}
.hc_i_layout_v4 .hc_i dd.hc_i_price a span {
  font-size: 0.8em;
}
.hc_i_layout_v4 .hc_i dd.hc_i_price a span.hc_pr_cur {
  display: inline;
}
.hc_i_layout_v4 .hc_i dd.hc_i_photos {
  clear: left;
  *display: inline-block;
  *position: relative;
  padding-top: 5px;
}
.hc_rtl .hc_i_layout_v4 .hc_i dd.hc_i_photos {
  clear: right;
}
/* end: item layout version 4 */
/* item layout version 5 */
.hc_i_layout_v5 .hc_i_wrapper {
  float: left;
  width: 50%;
  min-width: 180px;
}
.hc_rtl .hc_i_layout_v5 .hc_i_wrapper {
  float: right;
}
.hc_bp_mobile .hc_i_layout_v5 .hc_i_wrapper,
.hc_bp_tiny .hc_i_layout_v5 .hc_i_wrapper,
.hc_bp_sm .hc_i_layout_v5 .hc_i_wrapper,
.hc_bp_med .hc_i_layout_v5 .hc_i_wrapper {
  width: 33%;
}
.hc_i_layout_v5 .hc_i_wrapper:nth-child(2n+1) {
  clear: left;
}
.hc_rtl .hc_i_layout_v5 .hc_i_wrapper:nth-child(2n+1) {
  clear: right;
}
.hc_bp_mobile .hc_i_layout_v5 .hc_i_wrapper:nth-child(2n+1),
.hc_bp_tiny .hc_i_layout_v5 .hc_i_wrapper:nth-child(2n+1),
.hc_bp_sm .hc_i_layout_v5 .hc_i_wrapper:nth-child(2n+1),
.hc_bp_med .hc_i_layout_v5 .hc_i_wrapper:nth-child(2n+1) {
  clear: none;
}
.hc_rtl.hc_bp_mobile .hc_i_layout_v5 .hc_i_wrapper:nth-child(2n+1),
.hc_rtl.hc_bp_tiny .hc_i_layout_v5 .hc_i_wrapper:nth-child(2n+1),
.hc_rtl.hc_bp_sm .hc_i_layout_v5 .hc_i_wrapper:nth-child(2n+1),
.hc_rtl.hc_bp_med .hc_i_layout_v5 .hc_i_wrapper:nth-child(2n+1) {
  clear: none;
}
.hc_i_layout_v5 .hc_i {
  position: relative;
  margin: 10px;
  border: 1px solid #cfd8dc;
  padding: 2px 2px 10px;
  background: #ffffff;
  *display: inline-block;
}
.hc_i_layout_v5 .hc_i:hover {
  border-color: #00aef0;
  border-width: 2px;
  padding: 1px 1px 9px;
}
.hc_i_layout_v5 .hc_i h3 {
  float: left;
  _float: none;
  padding: 0px 8px 0px 33px;
}
.hc_rtl .hc_i_layout_v5 .hc_i h3 {
  float: right;
  padding-right: 33px;
  padding-left: 8px;
}
.hc_i_layout_v5 .hc_i:hover h3 a {
  color: #263238;
}
.hc_i_layout_v5 a.hc_i_photo {
  width: auto;
  height: 120px;
  margin: 0 0 10px;
  padding: 0;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background-repeat: no-repeat;
  background-position: center center;
}
.hc_i_layout_v5 .hc_i dl {
  *display: inline-block;
  *min-width: 110px;
}
.hc_i_layout_v5 .hc_i dd.hc_i_addr,
.hc_i_layout_v5 .hc_i dd.hc_i_numHtls {
  display: block;
}
.hc_i_layout_v5 .hc_i dd.hc_i_addr {
  position: absolute;
  width: 20px;
  height: 16px;
  overflow: hidden;
  top: 133px;
  left: 10px;
  text-indent: 20px;
}
.hc_rtl .hc_i_layout_v5 .hc_i dd.hc_i_addr {
  left: auto;
  right: 10px;
}
.hc_i_layout_v5 .hc_i:hover dd.hc_i_addr {
  top: 132px;
  left: 9px;
}
.hc_rtl .hc_i_layout_v5 .hc_i:hover dd.hc_i_addr {
  left: auto;
  right: 9px;
}
.hc_i_layout_v5 .hc_i dd.hc_i_numHtls {
  font-size: 0.95em;
  font-weight: bold;
  white-space: nowrap;
  padding: 3px 10px 0 0;
  text-align: right;
  float: right;
}
.hc_rtl .hc_i_layout_v5 .hc_i dd.hc_i_numHtls {
  padding-left: 10px;
  padding-right: 0;
  text-align: left;
  float: left;
}
/* end: item layout version 5 */
/* item layout version 6 */
.hc_i_layout_v6 .hc_i {
  display: inline-block;
}
.hc_i_layout_v6 .hc_i {
  padding: 5px 160px 30px 155px;
  display: block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.hc_page_city .hc_i_layout_v6 .hc_i,
.hc_page_list_place .hc_i_layout_v6 .hc_i {
  padding-bottom: 15px;
  min-height: 180px;
}
.hc_rtl .hc_i_layout_v6 .hc_i {
  padding-right: 155px;
  padding-left: 160px;
}
.hc_page_sr.hc_bp_med .hc_i_layout_v6 .hc_i,
.hc_page_list_sr.hc_bp_med .hc_i_layout_v6 .hc_i {
  padding-bottom: 90px;
}
.hc_bp_mobile .hc_i_layout_v6 .hc_i,
.hc_bp_tiny .hc_i_layout_v6 .hc_i,
.hc_bp_sm .hc_i_layout_v6 .hc_i {
  padding-left: 110px;
}
.hc_page_sr.hc_bp_mobile .hc_i_layout_v6 .hc_i,
.hc_page_sr.hc_bp_tiny .hc_i_layout_v6 .hc_i,
.hc_page_sr.hc_bp_sm .hc_i_layout_v6 .hc_i,
.hc_page_list_sr.hc_bp_mobile .hc_i_layout_v6 .hc_i,
.hc_page_list_sr.hc_bp_tiny .hc_i_layout_v6 .hc_i,
.hc_page_list_sr.hc_bp_sm .hc_i_layout_v6 .hc_i {
  padding-bottom: 90px;
}
.hc_rtl.hc_bp_mobile .hc_i_layout_v6 .hc_i,
.hc_rtl.hc_bp_tiny .hc_i_layout_v6 .hc_i,
.hc_rtl.hc_bp_sm .hc_i_layout_v6 .hc_i {
  padding-right: 110px;
}
.hc_i_layout_v6 .hc_i h3 {
  font-size: 1.7em;
  font-weight: normal;
  padding: 0 5px 7px 0;
}
.hc_rtl .hc_i_layout_v6 .hc_i h3 {
  padding-left: 5px;
  padding-right: 0;
}
.hc_bp_med .hc_i_layout_v6 .hc_i h3 {
  font-size: 1.6em;
}
.hc_bp_mobile .hc_i_layout_v6 .hc_i h3,
.hc_bp_tiny .hc_i_layout_v6 .hc_i h3,
.hc_bp_sm .hc_i_layout_v6 .hc_i h3 {
  font-size: 1.5em;
}
.hc_bp_mobile .hc_i_layout_v6 .hc_i h3 a {
  color: #f00!important;
}
.hc_i_layout_v6 .hc_i h3 span.hc_i_rating {
  display: inline;
}
.hc_i_layout_v6 .hc_i a.hc_i_photo {
  display: inline-block;
  position: absolute;
  top: 5px;
  left: 0;
  z-index: 3;
  margin: 0 10px 10px 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  border: 5px solid #eceff1;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  background: #ffffff;
}
.hc_rtl .hc_i_layout_v6 .hc_i a.hc_i_photo {
  left: auto;
  right: 0;
  margin-left: 10px;
  margin-right: 0;
}
.hc_bp_mobile .hc_i_layout_v6 .hc_i a.hc_i_photo,
.hc_bp_tiny .hc_i_layout_v6 .hc_i a.hc_i_photo,
.hc_bp_sm .hc_i_layout_v6 .hc_i a.hc_i_photo {
  width: 90px;
  height: 90px;
  bottom: 161px;
  left: 0;
}
.hc_rtl.hc_bp_mobile .hc_i_layout_v6 .hc_i a.hc_i_photo,
.hc_rtl.hc_bp_tiny .hc_i_layout_v6 .hc_i a.hc_i_photo,
.hc_rtl.hc_bp_sm .hc_i_layout_v6 .hc_i a.hc_i_photo {
  left: auto;
  right: 0;
}
.hc_i dd.hc_i_photos *,
.hc_i dd.hc_i_photos ul li a,
.hc_i dd.hc_i_photos ul li a img {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}
.hc_bp_mobile .hc_i_layout_v6 .hc_i a.hc_i_photo img,
.hc_bp_tiny .hc_i_layout_v6 .hc_i a.hc_i_photo img,
.hc_bp_sm .hc_i_layout_v6 .hc_i a.hc_i_photo img {
  clip: rect(0 222px 88px 134px);
  left: -133px;
}
.hc_rtl .hc_i_layout_v6 .hc_i dl {
  direction: rtl;
  display: inline-block;
  width: 100%;
}
.hc_page_sr .hc_i_layout_v6 .hc_i dl,
.hc_page_list_sr .hc_i_layout_v6 .hc_i dl {
  min-height: 200px;
  height: auto!important;
  height: 200px;
}
.hc_bp_mobile.hc_page_sr .hc_i_layout_v6 .hc_i dl,
.hc_bp_mobile.hc_page_list_sr .hc_i_layout_v6 .hc_i dl,
.hc_bp_tiny.hc_page_sr .hc_i_layout_v6 .hc_i dl,
.hc_bp_tiny.hc_page_list_sr .hc_i_layout_v6 .hc_i dl,
.hc_bp_sm.hc_page_sr .hc_i_layout_v6 .hc_i dl,
.hc_bp_sm.hc_page_list_sr .hc_i_layout_v6 .hc_i dl,
.hc_bp_med.hc_page_sr .hc_i_layout_v6 .hc_i dl,
.hc_bp_med.hc_page_list_sr .hc_i_layout_v6 .hc_i dl {
  min-height: 0;
  height: auto;
}
.hc_i_layout_v6 .hc_i dd.hc_i_addr,
.hc_page_sr .hc_i_layout_v6 .hc_i dd.hc_i_wasPrice,
.hc_page_list_sr .hc_i_layout_v6 .hc_i dd.hc_i_wasPrice,
.hc_i_layout_v6 .hc_i dd.hc_i_price,
.hc_i_layout_v6 .hc_i dd.hc_i_usrRating,
.hc_i_layout_v6 .hc_i dd.hc_i_map,
.hc_i_layout_v6 .hc_i dd.hc_i_dist,
.hc_i_layout_v6 .hc_i dd.hc_i_reviews,
.hc_i_layout_v6 .hc_i dd.hc_i_sentiments,
.hc_i_layout_v6 .hc_i dd.hc_i_booking,
.hc_i_layout_v6 .hc_i dd.hc_i_photos,
.hc_i_layout_v6 .hc_i dd.hc_i_remove,
.hc_page_sr .hc_i_layout_v6 .hc_i dd.hc_i_pm,
.hc_page_list_sr .hc_i_layout_v6 .hc_i dd.hc_i_pm {
  display: block;
}
.hc_i_layout_v6 .hc_i dd.hc_i_addr {
  float: left;
  padding-right: 10px;
  padding-bottom: 5px;
  color: #90a4ae;
}
.hc_rtl .hc_i_layout_v6 .hc_i dd.hc_i_addr {
  float: right;
  padding-right: 0px;
  padding-left: 10px;
}
.hc_bp_mobile .hc_i_layout_v6 .hc_i dd.hc_i_addr,
.hc_bp_tiny .hc_i_layout_v6 .hc_i dd.hc_i_addr,
.hc_bp_sm .hc_i_layout_v6 .hc_i dd.hc_i_addr {
  *float: none;
}
.hc_i_layout_v6 .hc_i dd.hc_i_map {
  float: left;
  padding-bottom: 0px;
  *white-space: nowrap;
  *float: none;
}
.hc_rtl .hc_i_layout_v6 .hc_i dd.hc_i_map {
  float: right;
  *float: none;
}
.hc_i_layout_v6 .hc_i dd.hc_i_dist {
  clear: left;
  *clear: none;
  padding-bottom: 5px;
}
.hc_rtl .hc_i_layout_v6 .hc_i dd.hc_i_dist {
  clear: right;
  *clear: none;
}
.hc_i_layout_v6 .hc_i dd.hc_i_special {
  display: block;
  height: 20px;
  line-height: 20px;
  font-size: 0.95em;
  font-weight: bold;
  color: #ffffff;
  padding: 0 10px 0 15px;
  background: #b40000;
  /* Old browsers */
  background: -moz-linear-gradient(top, #d40000 0%, #d40000 49%, #b40000 50%, #b40000 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d40000), color-stop(49%, #d40000), color-stop(50%, #b40000), color-stop(100%, #b40000));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #d40000 0%, #d40000 49%, #b40000 50%, #b40000 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #d40000 0%, #d40000 49%, #b40000 50%, #b40000 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #d40000 0%, #d40000 49%, #b40000 50%, #b40000 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #d40000 0%, #d40000 49%, #b40000 50%, #b40000 100%);
  /* W3C */
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  text-align: right;
  position: absolute;
  top: 5px;
  right: 0;
}
.hc_rtl .hc_i_layout_v6 .hc_i dd.hc_i_special {
  text-align: left;
  right: auto;
  left: 0;
  padding-left: 10px;
  padding-right: 15px;
}
.hc_i_layout_v6 .hc_i dd.hc_i_special .hc_icon {
  font-family: mobileicons;
  display: block;
  position: absolute;
  top: 0;
  left: -15px;
  z-index: 11;
  width: 25px;
  height: 30px;
}
.hc_rtl .hc_i_layout_v6 .hc_i dd.hc_i_special .hc_icon {
  left: auto;
  right: -15px;
}
.hc_i_layout_v6 .hc_i dd.hc_i_special .hc_icon span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 14;
}
.hc_rtl .hc_i_layout_v6 .hc_i dd.hc_i_special .hc_icon span {
  left: auto;
  right: 0;
}
.hc_i_layout_v6 .hc_i dd.hc_i_special .hc_icon:before,
.hc_i_layout_v6 .hc_i dd.hc_i_special .hc_icon:after,
.hc_i_layout_v6 .hc_i dd.hc_i_special .hc_icon span:before {
  position: absolute;
}
.hc_i_layout_v6 .hc_i dd.hc_i_special .hc_t_ribbon:before,
.hc_i_layout_v6 .hc_i dd.hc_i_special .hc_t_ribbon:after,
.hc_i_layout_v6 .hc_i dd.hc_i_special .hc_t_ribbon span:before {
  -webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.hc_i_layout_v6 .hc_i dd.hc_i_special .hc_t_ribbon:before {
  font-size: 1.3em;
  color: #39b54a;
  top: 6px;
  left: 2px;
  z-index: 12;
  content: "\f02e";
}
.hc_rtl .hc_i_layout_v6 .hc_i dd.hc_i_special .hc_t_ribbon:before {
  left: auto;
  right: 2px;
}
.hc_i_layout_v6 .hc_i dd.hc_i_special .hc_t_ribbon:after {
  font-size: 1.8em;
  color: #ffeb00;
  top: -8px;
  left: -4px;
  z-index: 13;
  content: "\f0a3";
}
.hc_rtl .hc_i_layout_v6 .hc_i dd.hc_i_special .hc_t_ribbon:after {
  left: auto;
  right: -4px;
}
.hc_i_layout_v6 .hc_i dd.hc_i_special .hc_t_ribbon span:before {
  font-size: 0.8em;
  font-weight: normal;
  color: #ffffff;
  top: -7px;
  left: 5px;
  z-index: 15;
  content: "\f00c";
}
.hc_rtl .hc_i_layout_v6 .hc_i dd.hc_i_special .hc_t_ribbon span:before {
  left: auto;
  right: 4px;
}
/* todo: figure out how to target ie10 if required here. */
.hc_bwsr_ie9 .hc_rtl .hc_i_layout_v6 .hc_i dd.hc_i_special .hc_t_ribbon span:before {
  right: 2px;
}
.hc_i_layout_v6 .hc_i dd.hc_i_usrRating {
  text-align: right;
  display: block;
  position: absolute;
  top: 5px;
  right: 0;
  font-weight: bold;
  min-width: 120px;
  width: auto!important;
  width: 160px;
}
.hc_lang_el .hc_i_layout_v6 .hc_i dd.hc_i_usrRating {
  width: 170px;
  font-size: 1.4em;
}
.hc_bp_mobile .hc_i_layout_v6 .hc_i dd.hc_i_usrRating,
.hc_bp_tiny .hc_i_layout_v6 .hc_i dd.hc_i_usrRating,
.hc_bp_sm .hc_i_layout_v6 .hc_i dd.hc_i_usrRating {
  font-size: 1.4em;
}
.hc_lang_el.hc_bp_mobile .hc_i_layout_v6 .hc_i dd.hc_i_usrRating,
.hc_lang_el.hc_bp_tiny .hc_i_layout_v6 .hc_i dd.hc_i_usrRating,
.hc_lang_el.hc_bp_sm .hc_i_layout_v6 .hc_i dd.hc_i_usrRating {
  font-size: 1.3em;
}
.hc_rtl .hc_i_layout_v6 .hc_i dd.hc_i_usrRating {
  right: auto;
  left: 0;
  text-align: left;
}
.hc_i_layout_v6 .hc_sri_special .hc_i dd.hc_i_usrRating {
  top: 30px;
}
.hc_rtl .hc_i_layout_v6 .hc_sri_special .hc_i dd.hc_i_usrRating {
  right: auto;
  left: 0;
  text-align: left;
}
.hc_i_layout_v6 .hc_i dd.hc_i_usrRating a:hover {
  text-decoration: underline;
}
.hc_i_layout_v6 .hc_i dd.hc_i_reviews {
  display: block;
  position: absolute;
  top: 30px;
  right: 0;
  width: 160px;
  text-align: right;
}
.hc_rtl .hc_i_layout_v6 .hc_i dd.hc_i_reviews {
  right: auto;
  left: 0;
  text-align: left;
}
.hc_i_layout_v6 .hc_sri_special .hc_i dd.hc_i_reviews {
  top: 55px;
}
.hc_i_layout_v6 .hc_i dd.hc_i_wasPrice {
  display: inline-block;
}
.hc_i_layout_v6 .hc_i dd.hc_i_wasPrice {
  display: block;
  position: absolute;
  bottom: 115px;
  right: 0;
  text-align: center;
  width: 160px;
  z-index: 3;
  font-size: 1.5em;
  font-weight: bold;
}
.hc_rtl .hc_i_layout_v6 .hc_i dd.hc_i_wasPrice {
  right: auto;
  left: 0;
}
.hc_bp_mobile .hc_i_layout_v6 .hc_i dd.hc_i_wasPrice,
.hc_bp_tiny .hc_i_layout_v6 .hc_i dd.hc_i_wasPrice,
.hc_bp_sm .hc_i_layout_v6 .hc_i dd.hc_i_wasPrice,
.hc_bp_med .hc_i_layout_v6 .hc_i dd.hc_i_wasPrice {
  bottom: 40px;
  right: 160px;
  text-align: right;
  width: auto;
  font-size: 1.4em;
}
.hc_rtl.hc_bp_mobile .hc_i_layout_v6 .hc_i dd.hc_i_wasPrice,
.hc_rtl.hc_bp_tiny .hc_i_layout_v6 .hc_i dd.hc_i_wasPrice,
.hc_rtl.hc_bp_sm .hc_i_layout_v6 .hc_i dd.hc_i_wasPrice,
.hc_rtl.hc_bp_med .hc_i_layout_v6 .hc_i dd.hc_i_wasPrice {
  right: auto;
  left: 160px;
  text-align: left;
}
.hc_i_layout_v6 .hc_i dd.hc_i_price {
  display: inline-block;
}
.hc_i_layout_v6 .hc_i dd.hc_i_price {
  font-size: 2.3em;
  display: block;
  position: absolute;
  bottom: 85px;
  right: 0;
  text-align: center;
  width: 160px;
  z-index: 3;
  white-space: nowrap;
}
.hc_rtl .hc_i_layout_v6 .hc_i dd.hc_i_price {
  right: auto;
  left: 0;
}
.hc_page_city .hc_i_layout_v6 .hc_i dd.hc_i_price,
.hc_page_list_place .hc_i_layout_v6 .hc_i dd.hc_i_price {
  width: 160px;
  bottom: 70px;
  font-size: 2.1em;
  text-align: right;
}
.hc_rtl.hc_page_city .hc_i_layout_v6 .hc_i dd.hc_i_price,
.hc_rtl.hc_page_list_place .hc_i_layout_v6 .hc_i dd.hc_i_price {
  text-align: left;
}
.hc_bp_mobile.hc_page_sr .hc_i_layout_v6 .hc_i dd.hc_i_price,
.hc_bp_mobile.hc_page_list_sr .hc_i_layout_v6 .hc_i dd.hc_i_price,
.hc_bp_tiny.hc_page_sr .hc_i_layout_v6 .hc_i dd.hc_i_price,
.hc_bp_tiny.hc_page_list_sr .hc_i_layout_v6 .hc_i dd.hc_i_price,
.hc_bp_sm.hc_page_sr .hc_i_layout_v6 .hc_i dd.hc_i_price,
.hc_bp_sm.hc_page_list_sr .hc_i_layout_v6 .hc_i dd.hc_i_price,
.hc_bp_med.hc_page_sr .hc_i_layout_v6 .hc_i dd.hc_i_price,
.hc_bp_med.hc_page_list_sr .hc_i_layout_v6 .hc_i dd.hc_i_price {
  bottom: 10px;
  right: 160px;
  font-size: 2.2em;
  text-align: right;
}
.hc_rtl.hc_bp_mobile.hc_page_sr .hc_i_layout_v6 .hc_i dd.hc_i_price,
.hc_rtl.hc_bp_mobile.hc_page_list_sr .hc_i_layout_v6 .hc_i dd.hc_i_price,
.hc_rtl.hc_bp_tiny.hc_page_sr .hc_i_layout_v6 .hc_i dd.hc_i_price,
.hc_rtl.hc_bp_tiny.hc_page_list_sr .hc_i_layout_v6 .hc_i dd.hc_i_price,
.hc_rtl.hc_bp_sm.hc_page_sr .hc_i_layout_v6 .hc_i dd.hc_i_price,
.hc_rtl.hc_bp_sm.hc_page_list_sr .hc_i_layout_v6 .hc_i dd.hc_i_price,
.hc_rtl.hc_bp_med.hc_page_sr .hc_i_layout_v6 .hc_i dd.hc_i_price,
.hc_rtl.hc_bp_med.hc_page_list_sr .hc_i_layout_v6 .hc_i dd.hc_i_price {
  right: auto;
  left: 160px;
  text-align: left;
}
.hc_page_sr .hc_i_layout_v6 .hc_i dd.hc_i_price span.hc_pr_from,
.hc_page_list_sr .hc_i_layout_v6 .hc_i dd.hc_i_price span.hc_pr_from {
  display: none;
}
.hc_page_city .hc_i_layout_v6 .hc_i dd.hc_i_price span.hc_pr_from,
.hc_page_list_place .hc_i_layout_v6 .hc_i dd.hc_i_price span.hc_pr_from {
  display: inline;
  font-size: 0.6em;
}
/*
.hc_cur_krw .hc_i_layout_v6 .hc_i dd.hc_i_price span.hc_pr_from,
.hc_cur_isk .hc_i_layout_v6 .hc_i dd.hc_i_price span.hc_pr_from,
.hc_cur_jpy .hc_i_layout_v6 .hc_i dd.hc_i_price span.hc_pr_from,
.hc_cur_twd .hc_i_layout_v6 .hc_i dd.hc_i_price span.hc_pr_from,
.hc_cur_vnd .hc_i_layout_v6 .hc_i dd.hc_i_price span.hc_pr_from,
.hc_cur_idr .hc_i_layout_v6 .hc_i dd.hc_i_price span.hc_pr_from,
.hc_cur_cop .hc_i_layout_v6 .hc_i dd.hc_i_price span.hc_pr_from,
.hc_cur_rub .hc_i_layout_v6 .hc_i dd.hc_i_price span.hc_pr_from {
    font-size: 0.7em;
}
*/
.hc_i_layout_v6 .hc_i dd.hc_i_price span.hc_pr_cur {
  font-size: 0.6em;
}
.hc_bp_mobile .hc_i dd.hc_i_wasPrice span.hc_pr_reduced,
.hc_bp_tiny .hc_i dd.hc_i_wasPrice span.hc_pr_reduced,
.hc_bp_sm .hc_i dd.hc_i_wasPrice span.hc_pr_reduced,
.hc_bp_med .hc_i dd.hc_i_wasPrice span.hc_pr_reduced {
  display: none;
}
.hc_i_layout_v6 .hc_i_remove {
  position: absolute;
  top: 302px;
  left: 0;
  clear: left;
  font-size: 0.95em;
  overflow: hidden;
  width: 100%;
}
.hc_rtl .hc_i_layout_v6 .hc_i_remove {
  clear: right;
}
.hc_page_city .hc_i_layout_v6 .hc_i_remove,
.hc_page_list_place .hc_i_layout_v6 .hc_i_remove {
  top: auto;
  bottom: 5px;
}
.hc_i_layout_v6 .hc_i_remove a {
  position: relative;
  display: block;
  float: left;
  cursor: pointer;
  min-height: 17px;
  padding-left: 15px;
}
.hc_rtl .hc_i_layout_v6 .hc_i_remove a {
  padding-left: 0;
  padding-right: 15px;
  float: right;
}
.hc_i_layout_v6 .hc_i_remove a span {
  display: none;
}
.hc_i_layout_v6 .hc_i_remove a .hc_icon {
  display: block;
  position: absolute;
  top: 1px;
  left: 0;
}
.hc_rtl .hc_i_layout_v6 .hc_i_remove a .hc_icon {
  left: auto;
  right: 0;
}
.hc_i_layout_v6 .hc_i_remove a .hc_icon:before {
  top: auto;
}
.hc_i_layout_v6 .hc_i dd.hc_i_sentiments {
  padding: 10px 0 0;
  display: block;
  overflow: hidden;
  clear: both;
  width: auto;
  margin-right: -155px;
}
.hc_rtl .hc_i_layout_v6 .hc_i dd.hc_i_sentiments {
  margin-right: 0;
  margin-left: -155px;
}
.hc_page_city .hc_i_layout_v6 .hc_i dd.hc_i_sentiments,
.hc_page_list_place .hc_i_layout_v6 .hc_i dd.hc_i_sentiments {
  margin-right: 0;
  font-size: 1.4em;
}
.hc_rtl.hc_page_city .hc_i_layout_v6 .hc_i dd.hc_i_sentiments,
.hc_rtl.hc_page_list_place .hc_i_layout_v6 .hc_i dd.hc_i_sentiments {
  margin-left: 0;
}
.hc_bp_mobile.hc_page_city .hc_i_layout_v6 .hc_i dd.hc_i_sentiments,
.hc_bp_mobile.hc_page_list_place .hc_i_layout_v6 .hc_i dd.hc_i_sentiments,
.hc_bp_tiny.hc_page_city .hc_i_layout_v6 .hc_i dd.hc_i_sentiments,
.hc_bp_tiny.hc_page_list_place .hc_i_layout_v6 .hc_i dd.hc_i_sentiments,
.hc_bp_sm.hc_page_city .hc_i_layout_v6 .hc_i dd.hc_i_sentiments,
.hc_bp_sm.hc_page_list_place .hc_i_layout_v6 .hc_i dd.hc_i_sentiments,
.hc_bp_med.hc_page_city .hc_i_layout_v6 .hc_i dd.hc_i_sentiments,
.hc_bp_med.hc_page_list_place .hc_i_layout_v6 .hc_i dd.hc_i_sentiments {
  font-size: 1.2em;
}
.hc_page_city .hc_i_layout_v6 .hc_i dd.hc_i_sentiments ul,
.hc_page_list_place .hc_i_layout_v6 .hc_i dd.hc_i_sentiments ul {
  left: 0;
  text-align: center;
  width: 100%;
}
.hc_rtl.hc_page_city .hc_i_layout_v6 .hc_i dd.hc_i_sentiments ul,
.hc_rtl.hc_page_list_place .hc_i_layout_v6 .hc_i dd.hc_i_sentiments ul {
  right: 0;
  text-align: right;
}
.hc_page_city .hc_i_layout_v6 .hc_i dd.hc_i_sentiments ul li,
.hc_page_list_place .hc_i_layout_v6 .hc_i dd.hc_i_sentiments ul li {
  right: 0;
}
.hc_rtl.hc_page_city .hc_i_layout_v6 .hc_i dd.hc_i_sentiments ul li,
.hc_rtl.hc_page_list_place .hc_i_layout_v6 .hc_i dd.hc_i_sentiments ul li {
  left: 0;
}
.hc_i_layout_v6 .hc_i dd.hc_i_booking {
  font-size: 0.95em;
  font-weight: normal;
  display: block;
  position: absolute;
  bottom: 5px;
  right: 5px;
}
.hc_rtl .hc_i_layout_v6 .hc_i dd.hc_i_booking {
  right: auto;
  left: 5px;
}
.hc_page_sr .hc_i_layout_v6 .hc_i dd.hc_i_booking,
.hc_page_list_sr .hc_i_layout_v6 .hc_i dd.hc_i_booking {
  bottom: 10px;
}
.hc_bp_mobile.hc_page_sr .hc_i_layout_v6 .hc_i dd.hc_i_booking,
.hc_bp_mobile.hc_page_list_sr .hc_i_layout_v6 .hc_i dd.hc_i_booking,
.hc_bp_tiny.hc_page_sr .hc_i_layout_v6 .hc_i dd.hc_i_booking,
.hc_bp_tiny.hc_page_list_sr .hc_i_layout_v6 .hc_i dd.hc_i_booking,
.hc_bp_sm.hc_page_sr .hc_i_layout_v6 .hc_i dd.hc_i_booking,
.hc_bp_sm.hc_page_list_sr .hc_i_layout_v6 .hc_i dd.hc_i_booking,
.hc_bp_med.hc_page_sr .hc_i_layout_v6 .hc_i dd.hc_i_booking,
.hc_bp_med.hc_page_list_sr .hc_i_layout_v6 .hc_i dd.hc_i_booking {
  bottom: 60px;
}
.hc_lang_hu.hc_bp_mobile.hc_page_sr .hc_i_layout_v6 .hc_i dd.hc_i_booking,
.hc_lang_hu.hc_bp_mobile.hc_page_list_sr .hc_i_layout_v6 .hc_i dd.hc_i_booking,
.hc_lang_hu.hc_bp_tiny.hc_page_sr .hc_i_layout_v6 .hc_i dd.hc_i_booking,
.hc_lang_hu.hc_bp_tiny.hc_page_list_sr .hc_i_layout_v6 .hc_i dd.hc_i_booking,
.hc_lang_hu.hc_bp_sm.hc_page_sr .hc_i_layout_v6 .hc_i dd.hc_i_booking,
.hc_lang_hu.hc_bp_sm.hc_page_list_sr .hc_i_layout_v6 .hc_i dd.hc_i_booking,
.hc_lang_hu.hc_bp_med.hc_page_sr .hc_i_layout_v6 .hc_i dd.hc_i_booking,
.hc_lang_hu.hc_bp_med.hc_page_list_sr .hc_i_layout_v6 .hc_i dd.hc_i_booking,
.hc_lang_ro.hc_bp_mobile.hc_page_sr .hc_i_layout_v6 .hc_i dd.hc_i_booking,
.hc_lang_ro.hc_bp_mobile.hc_page_list_sr .hc_i_layout_v6 .hc_i dd.hc_i_booking,
.hc_lang_ro.hc_bp_tiny.hc_page_sr .hc_i_layout_v6 .hc_i dd.hc_i_booking,
.hc_lang_ro.hc_bp_tiny.hc_page_list_sr .hc_i_layout_v6 .hc_i dd.hc_i_booking,
.hc_lang_ro.hc_bp_sm.hc_page_sr .hc_i_layout_v6 .hc_i dd.hc_i_booking,
.hc_lang_ro.hc_bp_sm.hc_page_list_sr .hc_i_layout_v6 .hc_i dd.hc_i_booking,
.hc_lang_ro.hc_bp_med.hc_page_sr .hc_i_layout_v6 .hc_i dd.hc_i_booking,
.hc_lang_ro.hc_bp_med.hc_page_list_sr .hc_i_layout_v6 .hc_i dd.hc_i_booking,
.hc_lang_cz.hc_bp_mobile.hc_page_sr .hc_i_layout_v6 .hc_i dd.hc_i_booking,
.hc_lang_cz.hc_bp_mobile.hc_page_list_sr .hc_i_layout_v6 .hc_i dd.hc_i_booking,
.hc_lang_cz.hc_bp_tiny.hc_page_sr .hc_i_layout_v6 .hc_i dd.hc_i_booking,
.hc_lang_cz.hc_bp_tiny.hc_page_list_sr .hc_i_layout_v6 .hc_i dd.hc_i_booking,
.hc_lang_cz.hc_bp_sm.hc_page_sr .hc_i_layout_v6 .hc_i dd.hc_i_booking,
.hc_lang_cz.hc_bp_sm.hc_page_list_sr .hc_i_layout_v6 .hc_i dd.hc_i_booking,
.hc_lang_cz.hc_bp_med.hc_page_sr .hc_i_layout_v6 .hc_i dd.hc_i_booking,
.hc_lang_cz.hc_bp_med.hc_page_list_sr .hc_i_layout_v6 .hc_i dd.hc_i_booking,
.hc_lang_fr.hc_bp_mobile.hc_page_sr .hc_i_layout_v6 .hc_i dd.hc_i_booking,
.hc_lang_fr.hc_bp_mobile.hc_page_list_sr .hc_i_layout_v6 .hc_i dd.hc_i_booking,
.hc_lang_fr.hc_bp_tiny.hc_page_sr .hc_i_layout_v6 .hc_i dd.hc_i_booking,
.hc_lang_fr.hc_bp_tiny.hc_page_list_sr .hc_i_layout_v6 .hc_i dd.hc_i_booking,
.hc_lang_fr.hc_bp_sm.hc_page_sr .hc_i_layout_v6 .hc_i dd.hc_i_booking,
.hc_lang_fr.hc_bp_sm.hc_page_list_sr .hc_i_layout_v6 .hc_i dd.hc_i_booking,
.hc_lang_fr.hc_bp_med.hc_page_sr .hc_i_layout_v6 .hc_i dd.hc_i_booking,
.hc_lang_fr.hc_bp_med.hc_page_list_sr .hc_i_layout_v6 .hc_i dd.hc_i_booking {
  bottom: 55px;
  text-align: right;
}
.hc_lang_hu.hc_bp_mobile.hc_page_sr .hc_i_layout_v6 .hc_i dd.hc_i_booking span,
.hc_lang_hu.hc_bp_mobile.hc_page_list_sr .hc_i_layout_v6 .hc_i dd.hc_i_booking span,
.hc_lang_hu.hc_bp_tiny.hc_page_sr .hc_i_layout_v6 .hc_i dd.hc_i_booking span,
.hc_lang_hu.hc_bp_tiny.hc_page_list_sr .hc_i_layout_v6 .hc_i dd.hc_i_booking span,
.hc_lang_hu.hc_bp_sm.hc_page_sr .hc_i_layout_v6 .hc_i dd.hc_i_booking span,
.hc_lang_hu.hc_bp_sm.hc_page_list_sr .hc_i_layout_v6 .hc_i dd.hc_i_booking span,
.hc_lang_hu.hc_bp_med.hc_page_sr .hc_i_layout_v6 .hc_i dd.hc_i_booking span,
.hc_lang_hu.hc_bp_med.hc_page_list_sr .hc_i_layout_v6 .hc_i dd.hc_i_booking span,
.hc_lang_ro.hc_bp_mobile.hc_page_sr .hc_i_layout_v6 .hc_i dd.hc_i_booking span,
.hc_lang_ro.hc_bp_mobile.hc_page_list_sr .hc_i_layout_v6 .hc_i dd.hc_i_booking span,
.hc_lang_ro.hc_bp_tiny.hc_page_sr .hc_i_layout_v6 .hc_i dd.hc_i_booking span,
.hc_lang_ro.hc_bp_tiny.hc_page_list_sr .hc_i_layout_v6 .hc_i dd.hc_i_booking span,
.hc_lang_ro.hc_bp_sm.hc_page_sr .hc_i_layout_v6 .hc_i dd.hc_i_booking span,
.hc_lang_ro.hc_bp_sm.hc_page_list_sr .hc_i_layout_v6 .hc_i dd.hc_i_booking span,
.hc_lang_ro.hc_bp_med.hc_page_sr .hc_i_layout_v6 .hc_i dd.hc_i_booking span,
.hc_lang_ro.hc_bp_med.hc_page_list_sr .hc_i_layout_v6 .hc_i dd.hc_i_booking span,
.hc_lang_cz.hc_bp_mobile.hc_page_sr .hc_i_layout_v6 .hc_i dd.hc_i_booking span,
.hc_lang_cz.hc_bp_mobile.hc_page_list_sr .hc_i_layout_v6 .hc_i dd.hc_i_booking span,
.hc_lang_cz.hc_bp_tiny.hc_page_sr .hc_i_layout_v6 .hc_i dd.hc_i_booking span,
.hc_lang_cz.hc_bp_tiny.hc_page_list_sr .hc_i_layout_v6 .hc_i dd.hc_i_booking span,
.hc_lang_cz.hc_bp_sm.hc_page_sr .hc_i_layout_v6 .hc_i dd.hc_i_booking span,
.hc_lang_cz.hc_bp_sm.hc_page_list_sr .hc_i_layout_v6 .hc_i dd.hc_i_booking span,
.hc_lang_cz.hc_bp_med.hc_page_sr .hc_i_layout_v6 .hc_i dd.hc_i_booking span,
.hc_lang_cz.hc_bp_med.hc_page_list_sr .hc_i_layout_v6 .hc_i dd.hc_i_booking span,
.hc_lang_fr.hc_bp_mobile.hc_page_sr .hc_i_layout_v6 .hc_i dd.hc_i_booking span,
.hc_lang_fr.hc_bp_mobile.hc_page_list_sr .hc_i_layout_v6 .hc_i dd.hc_i_booking span,
.hc_lang_fr.hc_bp_tiny.hc_page_sr .hc_i_layout_v6 .hc_i dd.hc_i_booking span,
.hc_lang_fr.hc_bp_tiny.hc_page_list_sr .hc_i_layout_v6 .hc_i dd.hc_i_booking span,
.hc_lang_fr.hc_bp_sm.hc_page_sr .hc_i_layout_v6 .hc_i dd.hc_i_booking span,
.hc_lang_fr.hc_bp_sm.hc_page_list_sr .hc_i_layout_v6 .hc_i dd.hc_i_booking span,
.hc_lang_fr.hc_bp_med.hc_page_sr .hc_i_layout_v6 .hc_i dd.hc_i_booking span,
.hc_lang_fr.hc_bp_med.hc_page_list_sr .hc_i_layout_v6 .hc_i dd.hc_i_booking span {
  display: block;
}
.hc_page_sr .hc_i_layout_v6 .hc_i dd.hc_i_photos,
.hc_page_list_sr .hc_i_layout_v6 .hc_i dd.hc_i_photos {
  display: inline-block;
}
.hc_page_sr .hc_i_layout_v6 .hc_i dd.hc_i_photos,
.hc_page_list_sr .hc_i_layout_v6 .hc_i dd.hc_i_photos {
  background: #eceff1;
  padding: 5px 0 0 5px;
  margin: 0;
  height: 141px;
  width: 141px;
  overflow: hidden;
  display: block;
  position: absolute;
  top: 148px;
  left: 0;
  display: inline-block;
}
.hc_rtl.hc_page_sr .hc_i_layout_v6 .hc_i dd.hc_i_photos,
.hc_rtl.hc_page_list_sr .hc_i_layout_v6 .hc_i dd.hc_i_photos {
  padding: 5px 5px 0 0;
  left: auto;
  right: 0;
}
.hc_bp_mobile.hc_page_sr .hc_i_layout_v6 .hc_i dd.hc_i_photos,
.hc_bp_mobile.hc_page_list_sr .hc_i_layout_v6 .hc_i dd.hc_i_photos,
.hc_bp_tiny.hc_page_sr .hc_i_layout_v6 .hc_i dd.hc_i_photos,
.hc_bp_tiny.hc_page_list_sr .hc_i_layout_v6 .hc_i dd.hc_i_photos,
.hc_bp_sm.hc_page_sr .hc_i_layout_v6 .hc_i dd.hc_i_photos,
.hc_bp_sm.hc_page_list_sr .hc_i_layout_v6 .hc_i dd.hc_i_photos {
  width: 94px;
  height: 186px;
  top: 101px;
}
.hc_page_city .hc_i_layout_v6 .hc_i dd.hc_i_photos,
.hc_page_list_place .hc_i_layout_v6 .hc_i dd.hc_i_photos {
  padding-top: 15px;
  clear: left;
  *clear: none;
  *display: inline-block;
  *position: relative;
}
.hc_rtl .hc_page_city .hc_i_layout_v6 .hc_i dd.hc_i_photos,
.hc_rtl .hc_page_list_place .hc_i_layout_v6 .hc_i dd.hc_i_photos {
  clear: right;
  *clear: none;
}
.hc_i_layout_v6 .hc_i dd.hc_i_photos li {
  border-color: #ffffff;
}
.hc_page_sr .hc_i_layout_v6 .hc_i dd.hc_i_photos li.hc_i_photos_6,
.hc_page_sr .hc_i_layout_v6 .hc_i dd.hc_i_photos li.hc_i_photos_7,
.hc_page_sr .hc_i_layout_v6 .hc_i dd.hc_i_photos li.hc_i_photos_8,
.hc_page_list_sr .hc_i_layout_v6 .hc_i dd.hc_i_photos li.hc_i_photos_6,
.hc_page_list_sr .hc_i_layout_v6 .hc_i dd.hc_i_photos li.hc_i_photos_7,
.hc_page_list_sr .hc_i_layout_v6 .hc_i dd.hc_i_photos li.hc_i_photos_8 {
  margin-bottom: 10px;
}
.hc_i_layout_v6 .hc_i dd.hc_i_photos ul li a img {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -khtml-opacity: 1;
  -moz-opacity: 1;
}
/* price matrix */
.hc_i_layout_v6 .hc_i dd.hc_i_pm {
  display: inline-block;
}
.hc_i_layout_v6 .hc_i dd.hc_i_pm {
  display: block;
  margin-right: -160px;
  border-bottom: 1px solid #cfd8dc;
  clear: left;
  *clear: none;
  min-height: 150px;
  height: auto!important;
  height: 150px;
  z-index: 2;
  margin-top: 15px;
  *margin-top: 0;
  *padding-top: 15px;
  background: url([BaseDomain]/Images/hc_bg_sri_pm_btns.gif?[cdnkey]) repeat-y top right;
}
.hc_rtl .hc_i_layout_v6 .hc_i dd.hc_i_pm {
  margin-right: 0px;
  margin-left: -160px;
  clear: right;
  *clear: none;
  background: url([BaseDomain]/Images/hc_bg_sri_pm_btns.gif?[cdnkey]) repeat-y top left;
}
.hc_bp_mobile.hc_rtl .hc_i_layout_v6 .hc_i dd.hc_i_pm,
.hc_bp_tiny.hc_rtl .hc_i_layout_v6 .hc_i dd.hc_i_pm,
.hc_bp_sm.hc_rtl .hc_i_layout_v6 .hc_i dd.hc_i_pm {
  margin-left: -120px;
}
.hc_bp_mobile .hc_i_layout_v6 .hc_i dd.hc_i_pm,
.hc_bp_tiny .hc_i_layout_v6 .hc_i dd.hc_i_pm,
.hc_bp_sm .hc_i_layout_v6 .hc_i dd.hc_i_pm,
.hc_bp_med .hc_i_layout_v6 .hc_i dd.hc_i_pm {
  background: none;
  min-height: 0;
}
/* price matrix table */
.hc_i_layout_v6 dd.hc_i_pm table {
  width: 100%;
  padding: 0;
  margin: 0 0 -1px;
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.hc_i_layout_v6 dd.hc_i_pm tr {
  overflow: hidden;
}
.hc_i_layout_v6 dd.hc_i_pm th,
.hc_i_layout_v6 dd.hc_i_pm td {
  padding: 0;
  margin: 0;
  vertical-align: middle;
}
.hc_i_layout_v6 dd.hc_i_pm th {
  font-size: 0.95em;
  font-weight: normal;
  vertical-align: bottom;
  border-bottom: 1px solid #cfd8dc;
}
.hc_i_layout_v6 dd.hc_i_pm th.hc_tbl_col_3 {
  color: #263238;
  background: #eceff1;
  padding: 7px 5px 5px;
  text-align: center;
}
.hc_i_layout_v6 dd.hc_i_pm td {
  font-size: 0.95em;
  vertical-align: middle;
  padding: 0;
  height: 2.4em;
  background: #ffffff;
  border-bottom: 1px solid #cfd8dc;
}
.hc_i_layout_v6 dd.hc_i_pm tr.hc_sri_pm_direct td {
  background: #ffffff;
}
.hc_lang_en.hc_ab_30035 .hc_i_layout_v6 dd.hc_i_pm td {
  background: #ffffff;
}
.hc_i_layout_v6 dd.hc_i_pm td a {
  display: block;
  overflow: hidden;
  text-decoration: none;
  padding: 0 5px;
  cursor: pointer;
}
/* col 1 */
.hc_bp_mobile .hc_i_layout_v6 dd.hc_i_pm td.hc_tbl_col_1,
.hc_bp_tiny .hc_i_layout_v6 dd.hc_i_pm td.hc_tbl_col_1,
.hc_bp_sm .hc_i_layout_v6 dd.hc_i_pm td.hc_tbl_col_1,
.hc_bp_med .hc_i_layout_v6 dd.hc_i_pm td.hc_tbl_col_1 {
  width: 65%;
}
.hc_i_layout_v6 dd.hc_i_pm td.hc_tbl_col_1 a {
  padding-top: 2px;
  padding-bottom: 2px;
}
.hc_rtl .hc_i_layout_v6 dd.hc_i_pm td.hc_tbl_col_1 a {
  direction: rtl;
  overflow: hidden;
}
.hc_i_layout_v6 dd.hc_i_pm td.hc_tbl_col_1 a span {
  text-decoration: underline;
  vertical-align: middle;
  float: left;
  margin-right: 10px;
}
.hc_rtl .hc_i_layout_v6 dd.hc_i_pm td.hc_tbl_col_1 a span {
  float: right;
  margin-right: 0;
  margin-left: 10px;
}
/* col 2 */
.hc_i_layout_v6 dd.hc_i_pm td.hc_tbl_col_2 {
  text-align: right;
  font-size: 1.1em;
}
.hc_rtl .hc_i_layout_v6 dd.hc_i_pm td.hc_tbl_col_2 {
  text-align: left;
  border-right: 0;
}
.hc_i_layout_v6 dd.hc_i_pm td.hc_tbl_col_2 a {
  white-space: nowrap;
  float: right;
  *float: none;
}
.hc_rtl .hc_i_layout_v6 dd.hc_i_pm td.hc_tbl_col_2 a {
  float: left;
  *float: none;
}
.hc_lang_ru .hc_i_layout_v6 dd.hc_i_pm td.hc_tbl_col_2 a {
  white-space: normal;
}
.hc_lang_en.hc_ab_30035 .hc_i_layout_v6 dd.hc_i_pm td.hc_tbl_col_2 a {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 105px;
  position: relative;
}
.hc_lang_en.hc_ab_30035 .hc_i_layout_v6 dd.hc_i_pm td.hc_tbl_col_2 a span {
  margin-left: 5px;
}
.hc_lang_en.hc_ab_30035 .hc_i_layout_v6 dd.hc_i_pm tr.hc_sri_pmi_lastRooms td.hc_tbl_col_2 a.hc_sri_pmi_lastRooms {
  padding-right: 5px;
  *padding-right: 0;
}
/* row click */
.hc_i_layout_v6 dd.hc_i_pm a.hc_tbl_rowClick {
  display: block;
  position: relative;
}
/* hover */
.hc_i_layout_v6 dd.hc_i_pm tr.hc_hover td {
  background: #eceff1;
}
.hc_i_layout_v6 dd.hc_i_pm td.hc_tbl_col_1 a:hover span,
.hc_i_layout_v6 dd.hc_i_pm tr.hc_hover td.hc_tbl_col_1 a span {
  color: #263238;
  text-decoration: underline;
}
/* highlight row */
.hc_i_layout_v6 dd.hc_i_pm tr.hc_highlight td {
  font-weight: bold;
}
.hc_i_layout_v6 dd.hc_i_pm tr.hc_highlight td.hc_tbl_col_2 a {
  color: #39b54a;
}
/* flag */
.hc_i_layout_v6 dd.hc_i_pm td.hc_t_flag .hc_icon {
  display: inline-block;
  margin: 1px 0 0 0;
  border-color: #ffffff;
}
/* reduced price */
.hc_i_layout_v6 dd.hc_i_pm tr.hc_sri_pmi_reduced td.hc_tbl_col_2 a {
  color: #d40000;
}
/* deals */
.hc_i_layout_v6 dd.hc_i_pm td a span.hc_sri_pmi_deal {
  color: #39b54a;
  display: inline-block;
  padding-top: 1px;
  *white-space: nowrap;
  margin-right: 10px;
  text-decoration: none!important;
  clear: left;
}
.hc_rtl .hc_i_layout_v6 dd.hc_i_pm td a span.hc_sri_pmi_deal {
  margin-right: 0;
  margin-left: 10px;
  clear: right;
}
.hc_i_layout_v6 dd.hc_i_pm td.hc_tbl_col_1 a:hover span.hc_sri_pmi_deal,
.hc_i_layout_v6 dd.hc_i_pm tr.hc_hover td.hc_tbl_col_1 a span.hc_sri_pmi_deal {
  text-decoration: none!important;
}
/* provider name */
.hc_i_layout_v6 dd.hc_i_pm td span.hc_sri_pmi_provider {
  color: #90a4ae;
  text-decoration: none!important;
  font-weight: normal!important;
  white-space: nowrap;
  padding-top: 1px;
}
.hc_i_layout_v6 dd.hc_i_pm td a:hover span.hc_sri_pmi_provider,
.hc_i_layout_v6 dd.hc_i_pm tr.hc_hover td.hc_tbl_col_1 a span.hc_sri_pmi_provider {
  text-decoration: none!important;
  color: #90a4ae;
}
/* last rooms */
.hc_i_layout_v6 dd.hc_i_pm td.hc_tbl_col_2 a.hc_sri_pmi_lastRooms {
  display: none;
}
.hc_i_layout_v6 dd.hc_i_pm tr.hc_sri_pmi_lastRooms td.hc_tbl_col_2 a.hc_sri_pmi_lastRooms {
  font-weight: bold;
  color: #39b54a;
  font-size: 0.85em;
  display: block;
  padding: 0 5px -2px;
  white-space: normal;
}
/* direct providers */
.hc_i_layout_v6 dd.hc_i_pm tr.hc_sri_pm_direct td.hc_tbl_col_2 {
  background: #39b54a;
  overflow: hidden;
}
.hc_lang_en.hc_ab_30035 .hc_i_layout_v6 dd.hc_i_pm tr.hc_sri_pm_direct td.hc_tbl_col_2 {
  background: none!important;
}
.hc_i_layout_v6 dd.hc_i_pm tr.hc_sri_pm_direct td.hc_tbl_col_2 a,
.hc_i_layout_v6 dd.hc_i_pm tr.hc_sri_pm_direct.hc_highlight td.hc_tbl_col_2 a {
  color: #ffffff;
  font-weight: bold;
  display: inline-block;
}
.hc_lang_en.hc_ab_30035 .hc_i_layout_v6 dd.hc_i_pm tr.hc_sri_pm_direct td.hc_tbl_col_2 a {
  text-shadow: none!important;
  font-weight: normal!important;
  color: #00aef0;
}
.hc_lang_en.hc_ab_30035 .hc_i_layout_v6 dd.hc_i_pm tr.hc_sri_pm_direct td.hc_tbl_col_2 a:hover {
  color: #263238;
}
.hc_lang_en.hc_ab_30035 .hc_i_layout_v6 dd.hc_i_pm tr.hc_sri_pm_direct.hc_highlight td.hc_tbl_col_2 a {
  color: #39b54a;
  font-weight: bold!important;
}
.hc_lang_en.hc_ab_30035 .hc_i_layout_v6 dd.hc_i_pm tr.hc_sri_pm_direct td.hc_tbl_col_2 a em {
  color: #39b54a;
  font-weight: bold!important;
}
.hc_lang_ru .hc_i_layout_v6 dd.hc_i_pm tr.hc_sri_pm_direct td.hc_tbl_col_2 a,
.hc_lang_ru .hc_i_layout_v6 dd.hc_i_pm tr.hc_sri_pm_direct.hc_highlight td.hc_tbl_col_2 a {
  text-shadow: none;
  font-weight: normal;
}
.hc_i_layout_v6 dd.hc_i_pm tr.hc_sri_pm_direct td.hc_tbl_col_2 span {
  color: #ffffff;
  font-weight: bold;
  margin-right: 5px;
  display: inline-block;
}
.hc_rtl .hc_i_layout_v6 dd.hc_i_pm tr.hc_sri_pm_direct td.hc_tbl_col_2 span {
  margin-right: 0;
  margin-left: 5px;
}
.hc_lang_en.hc_ab_30035 .hc_i_layout_v6 dd.hc_i_pm tr.hc_sri_pm_direct td.hc_tbl_col_2 span {
  color: inherit;
  font-weight: normal;
  text-shadow: none;
  margin: 0;
}
.hc_lang_ru .hc_i_layout_v6 dd.hc_i_pm tr.hc_sri_pm_direct td.hc_tbl_col_2 span {
  font-size: 0.9em;
  margin-right: 0;
  display: block;
  font-weight: normal;
  text-shadow: none;
}
.hc_i_layout_v6 dd.hc_i_pm td .hc_sri_pmi_priceMsg {
  display: block;
  clear: right;
  font-size: 0.8em;
  color: #90a4ae !important;
  font-weight: normal;
}
.hc_rtl .hc_i_layout_v6 dd.hc_i_pm td .hc_sri_pmi_priceMsg {
  clear: left;
}
/* provider logos in ab test 30035 */
.hc_lang_en .hc_i_layout_v6 dd.hc_i_pm td span.hc_sri_pmi_provider_ab_30035,
.hc_lang_en.hc_ab_30035 .hc_i_layout_v6 dd.hc_i_pm tr.hc_sri_pm_direct td.hc_tbl_col_2 span.hc_sri_pmi_provider_ab_30035 {
  height: 24px;
  line-height: 24px;
  width: 90px;
  text-align: center;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #39b54a;
  color: #ffffff;
  font-weight: bold;
  font-size: 0.8em;
  text-decoration: none!important;
  padding: 0 4px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin-right: -100px;
  margin-left: 5px;
}
.hc_lang_en .hc_i_layout_v6 dd.hc_i_pm td a:hover span.hc_sri_pmi_provider_ab_30035 {
  color: #ffffff !important;
}
.hc_lang_en .hc_i_layout_v6 dd.hc_i_pm td img.hc_sri_pmi_provider_ab_30035 {
  overflow: hidden;
  clip: rect(1px 84px 19px 1px);
  clip-path: rect(1px 84px 19px 1px);
  display: block;
  position: absolute;
  right: 5px;
  top: 50%;
  margin-top: -10px;
  height: 20px;
  width: 85px;
  vertical-align: middle;
}
/* col 3 */
.hc_i_layout_v6 dd.hc_i_pm td.hc_tbl_col_3 {
  width: 160px!important;
  border-bottom: 0;
  background: transparent!important;
  filter: none!important;
  visibility: collapse;
}
.hc_bp_mobile .hc_i_layout_v6 dd.hc_i_pm td.hc_tbl_col_3,
.hc_bp_tiny .hc_i_layout_v6 dd.hc_i_pm td.hc_tbl_col_3,
.hc_bp_sm .hc_i_layout_v6 dd.hc_i_pm td.hc_tbl_col_3,
.hc_bp_med .hc_i_layout_v6 dd.hc_i_pm td.hc_tbl_col_3 {
  width: 0!important;
}
/* view all rooms button */
.hc_i_layout_v6 dd.hc_i_pm a.hc_f_btn_rooms {
  font-weight: bold;
  font-size: 0.9em;
  text-decoration: underline;
  display: inline-block;
  position: absolute;
  bottom: 10px;
  left: 171px;
  z-index: 3;
  padding: 0 0 0 11px;
}
.hc_rtl .hc_i_layout_v6 dd.hc_i_pm a.hc_f_btn_rooms {
  left: auto;
  right: 171px;
  padding-right: 11px;
  padding-left: 0;
}
.hc_bp_mobile .hc_i_layout_v6 dd.hc_i_pm a.hc_f_btn_rooms,
.hc_bp_tiny .hc_i_layout_v6 dd.hc_i_pm a.hc_f_btn_rooms,
.hc_bp_sm .hc_i_layout_v6 dd.hc_i_pm a.hc_f_btn_rooms,
.hc_bp_med .hc_i_layout_v6 dd.hc_i_pm a.hc_f_btn_rooms {
  left: 125px;
  bottom: 65px;
}
.hc_rtl.hc_bp_mobile .hc_i_layout_v6 dd.hc_i_pm a.hc_f_btn_rooms,
.hc_rtl.hc_bp_tiny .hc_i_layout_v6 dd.hc_i_pm a.hc_f_btn_rooms,
.hc_rtl.hc_bp_sm .hc_i_layout_v6 dd.hc_i_pm a.hc_f_btn_rooms,
.hc_rtl.hc_bp_med .hc_i_layout_v6 dd.hc_i_pm a.hc_f_btn_rooms {
  left: auto;
  right: 125px;
}
.hc_lang_ro.hc_bp_mobile .hc_i_layout_v6 dd.hc_i_pm a.hc_f_btn_rooms,
.hc_lang_ro.hc_bp_tiny .hc_i_layout_v6 dd.hc_i_pm a.hc_f_btn_rooms,
.hc_lang_ro.hc_bp_sm .hc_i_layout_v6 dd.hc_i_pm a.hc_f_btn_rooms,
.hc_lang_ro.hc_bp_med .hc_i_layout_v6 dd.hc_i_pm a.hc_f_btn_rooms {
  left: 120px;
}
.hc_bp_med .hc_i_layout_v6 dd.hc_i_pm a.hc_f_btn_rooms {
  left: 160px;
}
.hc_rtl.hc_bp_med .hc_i_layout_v6 dd.hc_i_pm a.hc_f_btn_rooms {
  left: auto;
  right: 160px;
}
.hc_lang_ro.hc_bp_med .hc_i_layout_v6 dd.hc_i_pm a.hc_f_btn_rooms {
  left: 120px;
}
.hc_i_layout_v6 dd.hc_i_pm a.hc_f_btn_rooms span {
  display: block;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 3px;
}
.hc_rtl .hc_i_layout_v6 dd.hc_i_pm a.hc_f_btn_rooms span {
  left: auto;
  right: 3px;
}
.hc_i_layout_v6 dd.hc_i_pm a.hc_f_btn_rooms span:before {
  display: inline-block;
  position: relative;
  font-family: "mobileicons";
  content: "\e762";
  font-size: 1.3em;
  top: -3px;
}
.hc_rtl .hc_i_layout_v6 dd.hc_i_pm a.hc_f_btn_rooms span:before {
  content: "\e761";
}
/* buttons */
.hc_i_layout_v6 .hc_i .hc_f_submit,
.hc_i_layout_v6 .hc_i .hc_f_select {
  font-size: 1.3em;
  font-weight: normal;
  position: absolute;
  bottom: 47px;
  right: 15px;
  width: 130px;
  text-align: center;
  z-index: 3;
}
.hc_rtl .hc_i_layout_v6 .hc_i .hc_f_submit,
.hc_rtl .hc_i_layout_v6 .hc_i .hc_f_select {
  right: auto;
  left: 10px;
}
.hc_page_city .hc_i_layout_v6 .hc_i .hc_f_submit,
.hc_page_city .hc_i_layout_v6 .hc_i .hc_f_select,
.hc_page_list_place .hc_i_layout_v6 .hc_i .hc_f_submit,
.hc_page_list_place .hc_i_layout_v6 .hc_i .hc_f_select {
  right: 0;
  bottom: 25px;
}
.hc_rtl.hc_page_city .hc_i_layout_v6 .hc_i .hc_f_submit,
.hc_rtl.hc_page_city .hc_i_layout_v6 .hc_i .hc_f_select,
.hc_rtl.hc_page_list_place .hc_i_layout_v6 .hc_i .hc_f_submit,
.hc_rtl.hc_page_list_place .hc_i_layout_v6 .hc_i .hc_f_select {
  left: 0;
  right: auto;
}
.hc_i_layout_v6 .hc_i .hc_f_select {
  width: auto;
  min-width: 100px;
}
.hc_rtl .hc_i_layout_v6 .hc_i .hc_f_select {
  margin-left: 10px;
}
/* language specific */
.hc_lang_el .hc_i_layout_v6 .hc_i .hc_f_submit,
.hc_lang_el .hc_i_layout_v6 .hc_i .hc_f_select {
  padding-left: 10px!important;
  padding-right: 0!important;
}
.hc_lang_tr .hc_i_layout_v6 .hc_i .hc_f_submit,
.hc_lang_tr .hc_i_layout_v6 .hc_i .hc_f_select {
  padding-left: 10px!important;
  padding-right: 0!important;
  font-size: 1em;
  white-space: normal;
  width: 120px;
  line-height: 1em;
  height: 34px!important;
  padding-top: 8px!important;
  padding-bottom: 0!important;
}
.hc_lang_ms .hc_i_layout_v6 .hc_i .hc_f_submit,
.hc_lang_ms .hc_i_layout_v6 .hc_i .hc_f_select,
.hc_lang_bg .hc_i_layout_v6 .hc_i .hc_f_submit,
.hc_lang_bg .hc_i_layout_v6 .hc_i .hc_f_select,
.hc_lang_hr .hc_i_layout_v6 .hc_i .hc_f_submit,
.hc_lang_hr .hc_i_layout_v6 .hc_i .hc_f_select,
.hc_lang_vi .hc_i_layout_v6 .hc_i .hc_f_submit,
.hc_lang_vi .hc_i_layout_v6 .hc_i .hc_f_select,
.hc_lang_uk .hc_i_layout_v6 .hc_i .hc_f_submit,
.hc_lang_uk .hc_i_layout_v6 .hc_i .hc_f_select,
.hc_lang_ta .hc_i_layout_v6 .hc_i .hc_f_submit,
.hc_lang_ta .hc_i_layout_v6 .hc_i .hc_f_select,
.hc_lang_sl .hc_i_layout_v6 .hc_i .hc_f_submit,
.hc_lang_sl .hc_i_layout_v6 .hc_i .hc_f_select,
.hc_lang_lt .hc_i_layout_v6 .hc_i .hc_f_submit,
.hc_lang_lt .hc_i_layout_v6 .hc_i .hc_f_select,
.hc_lang_lv .hc_i_layout_v6 .hc_i .hc_f_submit,
.hc_lang_lv .hc_i_layout_v6 .hc_i .hc_f_select,
.hc_lang_sr .hc_i_layout_v6 .hc_i .hc_f_submit,
.hc_lang_sr .hc_i_layout_v6 .hc_i .hc_f_select {
  width: 115px;
  right: 5px;
  padding: 0 5px;
}
.hc_lang_es .hc_i_layout_v6 .hc_i .hc_f_submit,
.hc_lang_es .hc_i_layout_v6 .hc_i .hc_f_select {
  right: 5px;
  padding: 0 5px;
  font-size: 1.2em;
}
.hc_lang_ro .hc_i_layout_v6 .hc_i .hc_f_submit,
.hc_lang_ro .hc_i_layout_v6 .hc_i .hc_f_select,
.hc_lang_cz .hc_i_layout_v6 .hc_i .hc_f_submit,
.hc_lang_cz .hc_i_layout_v6 .hc_i .hc_f_select,
.hc_lang_pb .hc_i_layout_v6 .hc_i .hc_f_submit,
.hc_lang_pb .hc_i_layout_v6 .hc_i .hc_f_select,
.hc_lang_pt .hc_i_layout_v6 .hc_i .hc_f_submit,
.hc_lang_pt .hc_i_layout_v6 .hc_i .hc_f_select {
  padding: 0 5px;
  font-size: 1.2em;
}
.hc_lang_ru .hc_i_layout_v6 .hc_i .hc_f_submit,
.hc_lang_ru .hc_i_layout_v6 .hc_i .hc_f_select {
  width: 115px;
  right: 5px;
  font-size: 1.2em;
}
.hc_lang_el .hc_i_layout_v6 .hc_i .hc_f_submit,
.hc_lang_el .hc_i_layout_v6 .hc_i .hc_f_select,
.hc_lang_pl .hc_i_layout_v6 .hc_i .hc_f_submit,
.hc_lang_pl .hc_i_layout_v6 .hc_i .hc_f_select {
  width: 115px;
  padding: 0 5px;
  right: 0;
  font-size: 1.2em;
}
.hc_lang_js .hc_i_layout_v6 .hc_i .hc_f_submit,
.hc_lang_js .hc_i_layout_v6 .hc_i .hc_f_select {
  width: 105px;
  font-size: 1.2em;
}
.hc_lang_tr .hc_i_layout_v6 .hc_i .hc_f_submit,
.hc_lang_tr .hc_i_layout_v6 .hc_i .hc_f_select {
  font-size: 1em;
  white-space: normal;
  line-height: 1.2em;
}
.hc_lang_ta .hc_i_layout_v6 .hc_i .hc_f_submit,
.hc_lang_ta .hc_i_layout_v6 .hc_i .hc_f_select {
  font-size: 0.9em;
}
.hc_lang_bg .hc_i_layout_v6 .hc_i .hc_f_submit,
.hc_lang_bg .hc_i_layout_v6 .hc_i .hc_f_select,
.hc_lang_el .hc_i_layout_v6 .hc_i .hc_f_submit,
.hc_lang_el .hc_i_layout_v6 .hc_i .hc_f_select {
  font-size: 1.1em;
}
.hc_lang_vi .hc_i_layout_v6 .hc_i .hc_f_submit,
.hc_lang_vi .hc_i_layout_v6 .hc_i .hc_f_select,
.hc_lang_ms .hc_i_layout_v6 .hc_i .hc_f_submit,
.hc_lang_ms .hc_i_layout_v6 .hc_i .hc_f_select,
.hc_lang_sl .hc_i_layout_v6 .hc_i .hc_f_submit,
.hc_lang_sl .hc_i_layout_v6 .hc_i .hc_f_select,
.hc_lang_lt .hc_i_layout_v6 .hc_i .hc_f_submit,
.hc_lang_lt .hc_i_layout_v6 .hc_i .hc_f_select,
.hc_lang_sr .hc_i_layout_v6 .hc_i .hc_f_submit,
.hc_lang_sr .hc_i_layout_v6 .hc_i .hc_f_select {
  font-size: 1.2em;
}
.hc_lang_hr .hc_i_layout_v6 .hc_i .hc_f_submit,
.hc_lang_hr .hc_i_layout_v6 .hc_i .hc_f_select {
  font-size: 1.3em;
}
.hc_bp_mobile.hc_page_sr .hc_i_layout_v6 .hc_i .hc_f_submit,
.hc_bp_mobile.hc_page_sr .hc_i_layout_v6 .hc_i .hc_f_select,
.hc_bp_mobile.hc_page_list_sr .hc_i_layout_v6 .hc_i .hc_f_submit,
.hc_bp_mobile.hc_page_list_sr .hc_i_layout_v6 .hc_i .hc_f_select,
.hc_bp_tiny.hc_page_sr .hc_i_layout_v6 .hc_i .hc_f_submit,
.hc_bp_tiny.hc_page_sr .hc_i_layout_v6 .hc_i .hc_f_select,
.hc_bp_tiny.hc_page_list_sr .hc_i_layout_v6 .hc_i .hc_f_submit,
.hc_bp_tiny.hc_page_list_sr .hc_i_layout_v6 .hc_i .hc_f_select,
.hc_bp_sm.hc_page_sr .hc_i_layout_v6 .hc_i .hc_f_submit,
.hc_bp_sm.hc_page_sr .hc_i_layout_v6 .hc_i .hc_f_select,
.hc_bp_sm.hc_page_list_sr .hc_i_layout_v6 .hc_i .hc_f_submit,
.hc_bp_sm.hc_page_list_sr .hc_i_layout_v6 .hc_i .hc_f_select,
.hc_bp_med.hc_page_sr .hc_i_layout_v6 .hc_i .hc_f_submit,
.hc_bp_med.hc_page_sr .hc_i_layout_v6 .hc_i .hc_f_select,
.hc_bp_med.hc_page_list_sr .hc_i_layout_v6 .hc_i .hc_f_submit,
.hc_bp_med.hc_page_list_sr .hc_i_layout_v6 .hc_i .hc_f_select {
  bottom: 15px;
  right: 1px;
}
.hc_rtl.hc_bp_mobile.hc_page_sr .hc_i_layout_v6 .hc_i .hc_f_submit,
.hc_rtl.hc_bp_mobile.hc_page_sr .hc_i_layout_v6 .hc_i .hc_f_select,
.hc_rtl.hc_bp_mobile.hc_page_list_sr .hc_i_layout_v6 .hc_i .hc_f_submit,
.hc_rtl.hc_bp_mobile.hc_page_list_sr .hc_i_layout_v6 .hc_i .hc_f_select,
.hc_rtl.hc_bp_tiny.hc_page_sr .hc_i_layout_v6 .hc_i .hc_f_submit,
.hc_rtl.hc_bp_tiny.hc_page_sr .hc_i_layout_v6 .hc_i .hc_f_select,
.hc_rtl.hc_bp_tiny.hc_page_list_sr .hc_i_layout_v6 .hc_i .hc_f_submit,
.hc_rtl.hc_bp_tiny.hc_page_list_sr .hc_i_layout_v6 .hc_i .hc_f_select,
.hc_rtl.hc_bp_sm.hc_page_sr .hc_i_layout_v6 .hc_i .hc_f_submit,
.hc_rtl.hc_bp_sm.hc_page_sr .hc_i_layout_v6 .hc_i .hc_f_select,
.hc_rtl.hc_bp_sm.hc_page_list_sr .hc_i_layout_v6 .hc_i .hc_f_submit,
.hc_rtl.hc_bp_sm.hc_page_list_sr .hc_i_layout_v6 .hc_i .hc_f_select,
.hc_rtl.hc_bp_med.hc_page_sr .hc_i_layout_v6 .hc_i .hc_f_submit,
.hc_rtl.hc_bp_med.hc_page_sr .hc_i_layout_v6 .hc_i .hc_f_select,
.hc_rtl.hc_bp_med.hc_page_list_sr .hc_i_layout_v6 .hc_i .hc_f_submit,
.hc_rtl.hc_bp_med.hc_page_list_sr .hc_i_layout_v6 .hc_i .hc_f_select {
  bottom: 15px;
  right: auto;
  left: 1px;
}
.hc_bp_mobile.hc_page_sr .hc_i_layout_v6 .hc_i .hc_f_submit,
.hc_bp_mobile.hc_page_list_sr .hc_i_layout_v6 .hc_i .hc_f_submit,
.hc_bp_tiny.hc_page_sr .hc_i_layout_v6 .hc_i .hc_f_submit,
.hc_bp_tiny.hc_page_list_sr .hc_i_layout_v6 .hc_i .hc_f_submit,
.hc_bp_sm.hc_page_sr .hc_i_layout_v6 .hc_i .hc_f_submit,
.hc_bp_sm.hc_page_list_sr .hc_i_layout_v6 .hc_i .hc_f_submit,
.hc_bp_med.hc_page_sr .hc_i_layout_v6 .hc_i .hc_f_submit,
.hc_bp_med.hc_page_list_sr .hc_i_layout_v6 .hc_i .hc_f_submit {
  bottom: 15px;
}
.hc_i_layout_v6 .hc_i .hc_i_provider {
  display: block;
  position: absolute;
  bottom: 34px;
  right: 10px;
  font-size: 0.9em;
  color: #90a4ae;
}
.hc_rtl .hc_i_layout_v6 .hc_i .hc_i_provider {
  right: auto;
  left: 10px;
}
.hc_bp_mobile .hc_i_layout_v6 .hc_i .hc_i_provider,
.hc_bp_tiny .hc_i_layout_v6 .hc_i .hc_i_provider,
.hc_bp_sm .hc_i_layout_v6 .hc_i .hc_i_provider,
.hc_bp_med .hc_i_layout_v6 .hc_i .hc_i_provider {
  bottom: 0;
  right: 0;
}
.hc_rtl.hc_bp_mobile .hc_i_layout_v6 .hc_i .hc_i_provider,
.hc_rtl.hc_bp_tiny .hc_i_layout_v6 .hc_i .hc_i_provider,
.hc_rtl.hc_bp_sm .hc_i_layout_v6 .hc_i .hc_i_provider,
.hc_rtl.hc_bp_med .hc_i_layout_v6 .hc_i .hc_i_provider {
  right: auto;
  left: 0;
}
/* end: item layout version 6 */
/* item layout version 9 */
.hc_i_layout_v9 .hc_i {
  display: inline-block;
}
.hc_i_layout_v9 .hc_i {
  display: block;
  position: relative;
  min-height: 220px;
  height: auto!important;
  height: 220px;
  margin-bottom: 10px;
}
.hc_i_layout_v9 .hc_i h3 {
  display: block;
  font-size: 2em;
  border-bottom: 0;
  margin-bottom: 0;
  position: absolute;
  z-index: 5;
  background: #90a4ae;
  background: rgba(0, 0, 0, 0.65);
  *background: #90a4ae;
  bottom: 30px;
  left: 10px;
  width: 60%;
  padding: 0;
}
.hc_rtl .hc_i_layout_v9 .hc_i h3 {
  left: auto;
  right: 10px;
}
.hc_i_layout_v9 .hc_i h3 a {
  display: block;
  padding: 7px 10px;
  color: #fff;
  text-decoration: none;
}
.hc_i_layout_v9 .hc_i dl {
  position: absolute;
  z-index: 5;
  background: #90a4ae;
  background: rgba(0, 0, 0, 0.65);
  *background: #90a4ae;
  padding: 0;
  bottom: 10px;
  left: 10px;
  height: 20px;
  width: 60%;
}
.hc_rtl .hc_i_layout_v9 .hc_i dl {
  left: auto;
  right: 10px;
}
.hc_i_layout_v9 .hc_i dd.hc_i_numHtls {
  display: block;
  color: #ffffff;
  font-style: italic;
}
.hc_i_layout_v9 .hc_i dd.hc_i_numHtls a {
  text-decoration: none;
  color: #ffffff;
  display: block;
  height: 20px;
  padding: 0 10px;
}
.hc_i_layout_v9 .hc_i .hc_i_photo {
  border: none;
  border-radius: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 220px;
  background-repeat: no-repeat;
  background-position: center center;
}
.hc_rtl .hc_i_layout_v9 .hc_i .hc_i_photo {
  left: auto;
  right: 0;
}
.hc_bp_mobile.hc_page_landing .hc_i_layout_v9 .hc_i .hc_i_photo,
.hc_bp_tiny.hc_page_landing .hc_i_layout_v9 .hc_i .hc_i_photo,
.hc_bp_sm.hc_page_landing .hc_i_layout_v9 .hc_i .hc_i_photo,
.hc_bp_med.hc_page_landing .hc_i_layout_v9 .hc_i .hc_i_photo {
  width: 100%;
  height: 100%;
}
/* end: item layout version 9 */
/* item layout version 10 */
.hc_i_layout_v10 dd.hc_i_remove {
  display: block;
}
.hc_i_layout_v10 .hc_i {
  position: relative;
  background: #ffffff;
  padding-top: 10px;
  min-height: 60px;
  hack: 1 ; min-heigh\t: 50px;
  border-bottom: 1px solid #cfd8dc;
}
.hc_i_layout_v10 .hc_i h3 {
  padding-left: 53px;
  padding-right: 20px;
  font-size: 1em;
}
.hc_rtl .hc_i_layout_v10 .hc_i h3 {
  padding-left: 15px;
  padding-right: 53px;
}
.hc_i_layout_v10 .hc_i h3 .hc_i_rating {
  display: inline;
}
.hc_i_layout_v10 .hc_i .hc_i_photo {
  display: block;
  position: absolute;
  left: 5px;
  top: 9px;
  width: 40px;
  height: 40px;
  border: 1px solid #cfd8dc;
  padding: 1px;
  hack: 1 ; widt\h: 38px;
  hack: 1 ; heigh\t: 38px;
  border-radius: 0;
}
.hc_rtl .hc_i_layout_v10 .hc_i .hc_i_photo {
  left: auto;
  right: 5px;
}
.hc_i_layout_v10 .hc_i .hc_i_photo img {
  width: 38px;
  height: 38px;
}
.hc_i_layout_v10 .hc_i .hc_i_photo.hc_noImg img {
  width: auto;
  height: auto;
  top: -46px;
  left: -47px;
}
.hc_i_layout_v10 .hc_i .hc_i_remove {
  clear: left;
  position: absolute;
  right: 0;
  top: 7px;
  cursor: pointer;
}
.hc_rtl .hc_i_layout_v10 .hc_i .hc_i_remove {
  clear: right;
  right: auto;
  left: 0;
}
.hc_i_layout_v10 .hc_i .hc_i_remove .hc_icon {
  width: auto;
  height: auto;
}
.hc_i_layout_v10 .hc_i .hc_i_remove a:hover .hc_icon {
  color: #263238;
}
/* end item layout version 10 */
/* item layout version 11 */
.hc_i_layout_v11 .hc_i dd.hc_i_rating,
.hc_i_layout_v11 .hc_i dd.hc_i_addr,
.hc_i_layout_v11 .hc_i dd.hc_i_map,
.hc_i_layout_v11 .hc_i dd.hc_i_special,
.hc_i_layout_v11 .hc_i dd.hc_i_usrRating,
.hc_i_layout_v11 .hc_i dd.hc_i_reviews,
.hc_i_layout_v11 .hc_i dd.hc_i_wasPrice,
.hc_page_sr .hc_i_layout_v11 .hc_i dd.hc_i_wasPrice,
.hc_page_list_sr .hc_i_layout_v11 .hc_i dd.hc_i_wasPrice,
.hc_i_layout_v11 .hc_i dd.hc_i_price,
.hc_i_layout_v11 .hc_i dd.hc_i_feat,
.hc_i_layout_v11 .hc_i dd.hc_i_sentiments,
.hc_i_layout_v11 .hc_i dd.hc_i_booking,
.hc_i_layout_v11 .hc_i dd.hc_i_viewers,
.hc_i_layout_v11 .hc_i dd.hc_i_photos,
.hc_page_sr .hc_i_layout_v11 .hc_i dd.hc_i_photos,
.hc_page_list_sr .hc_i_layout_v11 .hc_i dd.hc_i_photos,
.hc_i_layout_v11 .hc_i dd.hc_i_pm,
.hc_page_sr .hc_i_layout_v11 .hc_i dd.hc_i_pm,
.hc_page_list_sr .hc_i_layout_v11 .hc_i dd.hc_i_pm,
.hc_i_layout_v11 .hc_i dd.hc_i_tax,
.hc_i_layout_v11 .hc_i dd.hc_i_details,
.hc_i_layout_v11 .hc_i .hc_f_submit,
.hc_i_layout_v11 .hc_i .hc_f_select {
  display: none;
}
.hc_i_layout_v11 .hc_i dd.hc_i_remove,
.hc_i_layout_v11 .hc_i dd.hc_i_availability {
  display: block;
}
.hc_i_layout_v11 .hc_i {
  padding-right: 0;
}
.hc_rtl .hc_i_layout_v11 .hc_i {
  padding-left: 0;
  padding-right: 166px;
}
.hc_bp_mobile .hc_i_layout_v11 .hc_i,
.hc_bp_tiny .hc_i_layout_v11 .hc_i,
.hc_bp_sm .hc_i_layout_v11 .hc_i,
.hc_bp_med .hc_i_layout_v11 .hc_i {
  padding-right: 0;
}
.hc_rtl.hc_bp_mobile .hc_i_layout_v11 .hc_i,
.hc_rtl.hc_bp_tiny .hc_i_layout_v11 .hc_i,
.hc_rtl.hc_bp_sm .hc_i_layout_v11 .hc_i,
.hc_rtl.hc_bp_med .hc_i_layout_v11 .hc_i {
  padding-left: 0;
  padding-right: 120px;
}
.hc_page_sr.hc_bp_mobile .hc_i_layout_v11 .hc_i,
.hc_page_sr.hc_bp_tiny .hc_i_layout_v11 .hc_i,
.hc_page_sr.hc_bp_sm .hc_i_layout_v11 .hc_i,
.hc_page_sr.hc_bp_med .hc_i_layout_v11 .hc_i,
.hc_page_list_sr.hc_bp_mobile .hc_i_layout_v11 .hc_i,
.hc_page_list_sr.hc_bp_tiny .hc_i_layout_v11 .hc_i,
.hc_page_list_sr.hc_bp_sm .hc_i_layout_v11 .hc_i,
.hc_page_list_sr.hc_bp_med .hc_i_layout_v11 .hc_i {
  padding-bottom: 0;
}
.hc_page_sr .hc_i_layout_v11 .hc_i dl,
.hc_page_list_sr .hc_i_layout_v11 .hc_i dl {
  min-height: 0;
}
.hc_i_layout_v11 .hc_i dd.hc_i_availability p {
  padding-bottom: 5px;
  color: #90a4ae;
}
.hc_i_layout_v11 .hc_i dd.hc_i_availability .hc_t_subtract {
  font-weight: bold;
  color: #263238;
}
.hc_i_layout_v11 .hc_i dd.hc_i_availability .hc_t_subtract .hc_icon {
  display: inline-block;
  color: #d40000;
}
/* end item layout version 11 */
/* item layout version 12 */
.hc_i_layout_v12 dd.hc_i_addr,
.hc_i_layout_v12 dd.hc_i_remove,
.hc_i_layout_v12 dd.hc_i_price {
  display: block;
}
.hc_i_layout_v12 dd.hc_i_photos {
  display: block;
  *display: inline-block;
}
.hc_i_layout_v12 .hc_i_wrapper {
  *padding: 0 10px;
}
.hc_i_layout_v12 .hc_i {
  background: url([BaseDomain]/Images/hc_bg_divider.gif?[cdnkey]) repeat-x left bottom;
  padding-bottom: 10px;
  margin-bottom: 10px;
  position: relative;
  width: 100%;
  min-height: 95px;
  height: auto!important;
  height: 95px;
}
.hc_i_layout_v12 .hc_i h3 {
  padding: 0 140px 7px 95px;
}
.hc_rtl .hc_i_layout_v12 .hc_i h3 {
  padding-right: 95px;
  padding-left: 140px;
}
.hc_bp_mobile .hc_i_layout_v12 .hc_i h3,
.hc_bp_tiny .hc_i_layout_v12 .hc_i h3,
.hc_bp_sm .hc_i_layout_v12 .hc_i h3,
.hc_bp_med .hc_i_layout_v12 .hc_i h3 {
  padding-right: 20px;
  padding-left: 95px;
}
.hc_rtl .hc_bp_mobile .hc_i_layout_v12 .hc_i h3,
.hc_rtl .hc_bp_tiny .hc_i_layout_v12 .hc_i h3,
.hc_rtl .hc_bp_sm .hc_i_layout_v12 .hc_i h3,
.hc_rtl .hc_bp_med .hc_i_layout_v12 .hc_i h3 {
  padding-left: 20px;
  padding-right: 95px;
}
.hc_i_layout_v12 .hc_i a.hc_i_photo {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 90px;
  height: 90px;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border-color: #eceff1;
}
.hc_rtl .hc_i_layout_v12 .hc_i a.hc_i_photo {
  left: auto;
  right: 0;
}
.hc_i_layout_v12 .hc_i a.hc_i_photo img {
  clip: rect(0 222px 88px 134px);
  left: -133px;
  position: absolute;
  top: 0;
}
.hc_i_layout_v12 .hc_i h3 span.hc_i_rating {
  display: inline;
}
.hc_i_layout_v12 .hc_i dl {
  padding: 0 144px 0 95px;
}
.hc_rtl .hc_i_layout_v12 .hc_i dl {
  direction: rtl;
  padding-right: 95px;
  padding-left: 144px;
}
.hc_lang_gr .hc_i_layout_v12 .hc_i dl {
  padding-right: 174px;
}
.hc_bp_mobile .hc_i_layout_v12 .hc_i dl,
.hc_bp_tiny .hc_i_layout_v12 .hc_i dl,
.hc_bp_sm .hc_i_layout_v12 .hc_i dl,
.hc_bp_med .hc_i_layout_v12 .hc_i dl {
  padding-right: 0!important;
}
.hc_i_layout_v12 .hc_i dd.hc_i_usrRating {
  display: block;
  text-align: right;
  font-weight: normal;
  color: #00aef0;
  font-size: 1.25em;
  position: absolute;
  top: 0;
  right: 30px;
  width: 120px;
}
.hc_rtl .hc_i_layout_v12 .hc_i dd.hc_i_usrRating {
  text-align: left;
  right: auto;
  left: 30px;
}
.hc_bp_mobile .hc_i_layout_v12 .hc_i dd.hc_i_usrRating,
.hc_bp_tiny .hc_i_layout_v12 .hc_i dd.hc_i_usrRating,
.hc_bp_sm .hc_i_layout_v12 .hc_i dd.hc_i_usrRating,
.hc_bp_med .hc_i_layout_v12 .hc_i dd.hc_i_usrRating {
  display: none;
}
.hc_i_layout_v12 .hc_i dd.hc_i_remove {
  position: absolute;
  top: 5px;
  right: 0;
}
.hc_rtl .hc_i_layout_v12 .hc_i dd.hc_i_remove {
  right: auto;
  left: 0;
}
.hc_i_layout_v12 .hc_i dd.hc_i_rating {
  white-space: nowrap;
  padding: 2px 10px 0 0;
}
.hc_rtl .hc_i_layout_v12 .hc_i dd.hc_i_rating {
  padding-right: 0;
  padding-left: 10px;
}
.hc_i_layout_v12 .hc_i dd.hc_i_addr {
  padding: 0 0 5px;
}
.hc_i_layout_v12 .hc_i dd.hc_i_photos {
  padding-top: 1px;
  *position: relative;
}
.hc_bp_mobile .hc_i_layout_v12 .hc_i dd.hc_i_photos,
.hc_bp_tiny .hc_i_layout_v12 .hc_i dd.hc_i_photos,
.hc_bp_sm .hc_i_layout_v12 .hc_i dd.hc_i_photos,
.hc_bp_med .hc_i_layout_v12 .hc_i dd.hc_i_photos {
  display: none;
}
.hc_i_layout_v12 dd.hc_i_price {
  font-size: 1em;
  border: 2px solid #cfd8dc;
  padding: 10px 5px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  text-align: center;
  margin-bottom: 10px;
  width: 90px;
  position: absolute;
  bottom: 5px;
  right: 0;
  z-index: 3;
}
.hc_rtl .hc_i_layout_v12 dd.hc_i_price {
  right: auto;
  left: 0;
}
.hc_lang_ar .hc_i_layout_v12 dd.hc_i_price,
.hc_lang_no .hc_i_layout_v12 dd.hc_i_price {
  width: 100px;
}
.hc_lang_ro .hc_i_layout_v12 dd.hc_i_price {
  width: 120px;
}
.hc_lang_gr .hc_i_layout_v12 dd.hc_i_price {
  width: 150px;
}
.hc_bp_mobile .hc_i_layout_v12 dd.hc_i_price,
.hc_bp_tiny .hc_i_layout_v12 dd.hc_i_price,
.hc_bp_sm .hc_i_layout_v12 dd.hc_i_price,
.hc_bp_med .hc_i_layout_v12 dd.hc_i_price {
  position: relative;
  bottom: auto;
  right: auto;
  clear: left;
  width: auto;
  display: inline-block;
  margin-bottom: 0;
}
.hc_rtl.hc_bp_mobile .hc_i_layout_v12 dd.hc_i_price,
.hc_rtl.hc_bp_tiny .hc_i_layout_v12 dd.hc_i_price,
.hc_rtl.hc_bp_sm .hc_i_layout_v12 dd.hc_i_price,
.hc_rtl.hc_bp_med .hc_i_layout_v12 dd.hc_i_price {
  left: auto!important;
  clear: right;
  width: inherit;
  margin-right: 95px;
}
.hc_i_layout_v12 .hc_i dd.hc_i_price .hc_pr_from {
  white-space: nowrap;
  display: inline-block;
  padding: 0 0 2px;
  font-size: 1em;
}
.hc_lang_et .hc_i_layout_v12 .hc_i dd.hc_i_price .hc_pr_from {
  font-size: 0.9em;
}
.hc_lang_bg .hc_i_layout_v12 .hc_i dd.hc_i_price .hc_pr_from,
.hc_lang_lt .hc_i_layout_v12 .hc_i dd.hc_i_price .hc_pr_from,
.hc_lang_lv .hc_i_layout_v12 .hc_i dd.hc_i_price .hc_pr_from,
.hc_lang_sl .hc_i_layout_v12 .hc_i dd.hc_i_price .hc_pr_from,
.hc_lang_uk .hc_i_layout_v12 .hc_i dd.hc_i_price .hc_pr_from,
.hc_lang_el .hc_i_layout_v12 .hc_i dd.hc_i_price .hc_pr_from {
  white-space: normal;
}
.hc_i_layout_v12 .hc_i dd.hc_i_price a {
  display: block;
  font-size: 1.1em;
  font-weight: bold;
}
.hc_bp_mobile .hc_i_layout_v12 .hc_i dd.hc_i_price a,
.hc_bp_tiny .hc_i_layout_v12 .hc_i dd.hc_i_price a,
.hc_bp_sm .hc_i_layout_v12 .hc_i dd.hc_i_price a,
.hc_bp_med .hc_i_layout_v12 .hc_i dd.hc_i_price a {
  display: inline-block;
}
.hc_i_layout_v12 .hc_i dd.hc_i_price:hover a {
  color: #263238;
  text-decoration: underline;
}
.hc_i_layout_v12 .hc_i dd.hc_i_price a span {
  font-size: 1em;
}
.hc_i_layout_v12 .hc_i dd.hc_i_price a span.hc_pr_cur {
  display: inline;
}
/* end: item layout version 12 */
/* item layout version 13 */
.hc_i_layout_v13 dd.hc_i_dates,
.hc_i_layout_v13 dd.hc_i_go,
.hc_i_layout_v13 dd.hc_i_filters {
  display: block;
}
.hc_i_layout_v13 .hc_i:hover dd.hc_i_remove,
.hc_i_layout_v13 .hc_i.hc_hover dd.hc_i_remove {
  display: block;
}
.hc_i_layout_v13 .hc_i_wrapper {
  *padding: 0 10px;
}
.hc_i_layout_v13 .hc_i {
  background: url([BaseDomain]/Images/hc_bg_divider.gif?[cdnkey]) repeat-x left bottom;
  padding-bottom: 10px;
  margin-bottom: 10px;
  position: relative;
  width: 100%;
  min-height: 95px;
  height: auto!important;
  height: 95px;
}
.hc_i_layout_v13 .hc_i h2 {
  padding: 0 50px 7px 95px;
}
.hc_rtl .hc_i_layout_v13 .hc_i h2 {
  padding-right: 95px;
  padding-left: 50px;
}
.hc_page_user .hc_i_layout_v13 .hc_i h2 {
  font-weight: bold;
  font-size: 1.25em;
}
.hc_i_layout_v13 .hc_i a.hc_i_photo {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 90px;
  height: 90px;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border-color: #eceff1;
}
.hc_rtl .hc_i_layout_v13 .hc_i a.hc_i_photo {
  left: auto;
  right: 0;
}
.hc_i_layout_v13 .hc_i a.hc_i_photo img {
  left: 0;
  position: absolute;
  top: 0;
  width: 88px;
  height: 88px;
}
.hc_i_layout_v13 .hc_i dl {
  padding: 0 144px 0 95px;
}
.hc_rtl .hc_i_layout_v13 .hc_i dl {
  direction: rtl;
  padding-right: 95px;
  padding-left: 144px;
}
.hc_i_layout_v13 .hc_i dd.hc_i_dates {
  padding: 0 0 5px;
}
.hc_i_layout_v13 .hc_i dd.hc_i_go {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -12px;
}
.hc_rtl .hc_i_layout_v13 .hc_i dd.hc_i_go {
  right: auto;
  left: 0;
}
.hc_i_layout_v13 .hc_i dd.hc_i_go .hc_icon {
  position: relative;
  display: block;
  font-size: 0.9em;
  height: 25px;
  background: none;
  top: 7px;
  left: auto;
  right: auto;
  bottom: auto;
}
.hc_i_layout_v13 .hc_i dd.hc_i_remove {
  position: absolute;
  top: 5px;
  right: 0;
}
.hc_rtl .hc_i_layout_v13 .hc_i dd.hc_i_remove {
  right: auto;
  left: 0;
}
/* end item layout version 13 */
/* item layout version 14 */
.hc_i_layout_v14 .hc_i {
  position: relative;
  padding-top: 10px;
  min-height: 60px;
  hack: 1 ; min-heigh\t: 40px;
  padding-bottom: 10px;
}
.hc_i_layout_v14 .hc_i h3 {
  padding-left: 47px;
  padding-right: 0;
  font-size: 1.05em;
  margin-top: 0;
  font-weight: bold;
}
.hc_rtl .hc_i_layout_v14 .hc_i h3 {
  padding-left: 0;
  padding-right: 47px;
}
.hc_i_layout_v14 .hc_i h3 a {
  text-decoration: none;
}
.hc_i_layout_v14 .hc_i h3 .hc_i_rating {
  display: inline;
}
.hc_i_layout_v14 .hc_i .hc_i_photo {
  display: block;
  position: absolute;
  left: 0;
  top: 11px;
  width: 40px;
  height: 40px;
  border: none;
  padding: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.hc_rtl .hc_i_layout_v14 .hc_i .hc_i_photo {
  left: auto;
  right: 0;
}
.hc_bp_mobile.hc_page_landing .hc_i_layout_v14 .hc_i .hc_i_photo,
.hc_bp_tiny.hc_page_landing .hc_i_layout_v14 .hc_i .hc_i_photo,
.hc_bp_sm.hc_page_landing .hc_i_layout_v14 .hc_i .hc_i_photo,
.hc_bp_med.hc_page_landing .hc_i_layout_v14 .hc_i .hc_i_photo {
  width: 40px;
  height: 40px;
}
.hc_i_layout_v14 .hc_i .hc_i_photo img {
  width: 40px;
  height: 40px;
  clip: auto;
  clip: rect(0 40px 40px 0);
  left: auto;
  top: auto;
  bottom: auto;
  right: auto;
  position: relative;
}
.hc_bp_mobile.hc_page_landing .hc_i_layout_v14 .hc_i .hc_i_photo img,
.hc_bp_tiny.hc_page_landing .hc_i_layout_v14 .hc_i .hc_i_photo img,
.hc_bp_sm.hc_page_landing .hc_i_layout_v14 .hc_i .hc_i_photo img,
.hc_bp_med.hc_page_landing .hc_i_layout_v14 .hc_i .hc_i_photo img {
  width: 40px;
  height: 40px;
  clip: rect(0 40px 40px 0);
  left: auto;
  right: auto;
}
.hc_i_layout_v14 .hc_i .hc_i_photo.hc_noImg img {
  width: auto;
  height: auto;
  top: -46px;
  left: -47px;
}
.hc_i_layout_v14 dd.hc_i_addr,
.hc_i_layout_v14 dd.hc_i_filters,
.hc_i_layout_v14 dd.hc_i_dates {
  display: block;
}
.hc_i_layout_v14 .hc_i .hc_i_addr,
.hc_i_layout_v14 dd.hc_i_dates,
.hc_i_layout_v14 .hc_i .hc_i_filters {
  padding-top: 3px;
  font-size: 0.9em;
  padding-left: 47px;
}
.hc_rtl .hc_i_layout_v14 .hc_i .hc_i_addr,
.hc_rtl .hc_i_layout_v14 dd.hc_i_dates,
.hc_rtl .hc_i_layout_v14 .hc_i .hc_i_filters {
  padding-left: 0;
  padding-right: 47px;
}
.hc_i_layout_v14 .hc_i .hc_i_filters {
  padding-top: 5px;
  padding-bottom: 5px;
}

.ui-widget-content{
    text-decoration: no-underline;
}

/* end item layout version 14 */
/*# sourceMappingURL=hc_items.css.map */

