.formBlock {
	background-color: #2C4162;
	padding-bottom: 15px;

}

#placeText{
	color: #FFFFFF;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-size: 14px;
	margin-left: 20px;
	margin-top: 0px;
	padding-top: 10px;

}

#place{
	width: 404px;
	height: 33px;
	margin-left: 20px;
	margin-top: -105px;
	-webkit-box-shadow: 0px 0px;
	border-radius: 2px;
	box-shadow: 0px 0px;
	border-width: thin;
	padding-top: 0px;

}

#checkinText{
	color: #FFFFFF;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-size: 14px;
	left: auto;
	margin-left: auto;
	padding-left: 0px;

}

#checkoutText{
	color: #FFFFFF;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	margin-left: 0px;
	padding-left: 24px;

}

#checkin{
	width: 175px;
	height: 27px;
	padding-left: 5px;
	border-radius: 2px;
	border-width: thin;
	left: auto;
	margin-left: 0px;

}

#checkout{
	width: 185px;
	height: 27px;
	margin-left: 25px;
	border-radius: 2px;
	border-width: thin;
	padding-left: 5px;

}

#guestsText{
	margin-top: 3px;
	margin-left: 0px;
	padding-left: 19px;
	color: #FFFFFF;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	margin-bottom: 0px;
	padding-bottom: 17px;

}

#room{
	margin-left: 19px;
	margin-top: 0px;
	padding-top: 0px;
	width: 183px;
	min-height: 32px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	border-radius: 2px;
	font-size: small;
	border-width: thin;
	border-style: none;

}

#searchButton,
#searchButton:visited {
	margin-top: 0px;
	margin-left: 76px;
	min-width: 0px;
	width: 137px;
	height: 35px;
	background: #39b54a;
	color: #fff;
	border: none;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	padding-left: 0px;
}
#searchButton:hover {
	background: #2e913b;
}
#searchButton:active {
	background: #0c5716;
	padding-left: 0px;
}


@media screen{
.table {
	margin-left: 17px;
	width: auto;
	margin-top: 5px;
}

}
.room {
	margin-top: -12px;
	margin-left: 1px;
}
.signInText {
	margin-left: 19px;
	color: #6EC8ED;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	text-align: left;
	text-decoration: none;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	margin-top: 0px;
	padding-top: 0px;
}
.signInDiv {
	padding-top: 8px;
}
.ui-widget-content a.signInText {
    color: #6EC8ED;
}.topDestinationText {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
}
